<form action="" class="form-horizontal find-fight-page-form">
    <div class="form-group ml-0">
        <div class="form-group col-lg-4 col-md-4 col-sm-6 col-xs-12 mr-0">
            <label>Боец</label>
            {{ fight_filter_form.fighter_1 }}
            {{ fight_filter_form.fighter_2 }}
        </div>
        <div class="form-group col-lg-4 col-md-4 hidden-sm hidden-xs mr-0">
            <label>Боец</label>
            {{ fight_filter_form.fighter_2_full }}
        </div>
        <div class="form-group col-lg-4 col-md-4 col-sm-6 hidden-xs mr-0">
            <label>Пол бойца</label>
            {% for choice in fight_filter_form.gender %}
                <div class="radio">
                    <label>
                        {{ choice.tag }}
                        {{ choice.choice_label }}
                    </label>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="form-group ml-0">
        <div class="form-group col-lg-4 col-md-4 col-sm-6 col-xs-12 mr-0">
            <label>Выбрать промоутера</label>
            {{ fight_filter_form.promotion }}
        </div>
        <div class="form-group col-lg-4 col-md-4 col-sm-6 col-xs-12 mr-0">
            <label>Событие</label>
            {{ fight_filter_form.event }}
        </div>
        <div class="form-group col-lg-4 col-md-4 col-sm-6 col-xs-12 mr-0">

        </div>
    </div>
    <div class="form-group ml-0">
        <div class="form-group col-lg-4 col-md-4 col-sm-6 col-sm-6 col-xs-12 mr-0">
            <label>Выберите даты</label>
            <div class="input-group">
                {{ fight_filter_form.event_date_from }}
                <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
            </div>
            <div class="input-group">
                {{ fight_filter_form.event_date_to }}
                <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
            </div>
        </div>
        <div class="form-group hidden-lg hidden-md hidden-sm col-xs-6 mr-0">
            <label>Пол бойца</label>
            {% for choice in fight_filter_form.gender_2 %}
                <div class="radio">
                    <label>
                        {{ choice.tag }}
                        {{ choice.choice_label }}
                    </label>
                </div>
            {% endfor %}
        </div>
        <div class="form-group col-lg-4 col-md-4 col-sm-6 col-sm-6 col-xs-6 mr-0">
            <label>Показывать события</label>
            {% for choice in fight_filter_form.event_date %}
                <div class="radio">
                    <label>
                        {{ choice.tag }}
                        {{ choice.choice_label }}
                    </label>
                </div>
            {% endfor %}
        </div>
        <div class="form-group col-lg-4 col-md-4 col-sm-6 col-sm-6 col-xs-12 mr-0">
            <label>Сортировать</label>
            {% for choice in fight_filter_form.sort %}
                <div class="radio">
                    <label>
                        {{ choice.tag }}
                        {{ choice.choice_label }}
                    </label>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="form-group ml-0">
        <div class="form-group col-lg-4 col-md-4 col-sm-6 col-xs-12 mr-0">
            <label>Рейтинг события</label>
            <input type="text" id="event-form-rate">
            <div class='ruler'>
                <div class='cm'>
                    <div class='mm'></div>
                    <div class='mm'></div>
                    <div class='mm'></div>
                    <div class='mm'></div>
                    <div class='mm'></div>
                    <div class='mm'></div>
                    <div class='mm'></div>
                    <div class='mm'></div>
                    <div class='mm'></div>
                </div>
                <div class='cm'>
                    <div class='mm'></div>
                    <div class='mm'></div>
                    <div class='mm'></div>
                    <div class='mm'></div>
                    <div class='mm'></div>
                    <div class='mm'></div>
                    <div class='mm'></div>
                    <div class='mm'></div>
                    <div class='mm'></div>
                </div>
                <div class='cm'>
                    <div class='mm'></div>
                    <div class='mm'></div>
                    <div class='mm'></div>
                    <div class='mm'></div>
                    <div class='mm'></div>
                    <div class='mm'></div>
                    <div class='mm'></div>
                    <div class='mm'></div>
                    <div class='mm'></div>
                </div>
                <div class='cm'>
                    <div class='mm'></div>
                    <div class='mm'></div>
                    <div class='mm'></div>
                    <div class='mm'></div>
                    <div class='mm'></div>
                    <div class='mm'></div>
                    <div class='mm'></div>
                    <div class='mm'></div>
                    <div class='mm'></div>
                </div>
                <div class='cm'>
                    <div class='mm'></div>
                    <div class='mm'></div>
                    <div class='mm'></div>
                    <div class='mm'></div>
                    <div class='mm'></div>
                    <div class='mm'></div>
                    <div class='mm'></div>
                    <div class='mm'></div>
                    <div class='mm'></div>
                </div>
                <div class='cm'></div>
            </div>
        </div>
        <div class="form-group col-lg-4 col-md-4 col-sm-6 col-xs-12 mr-0 user-rating">
            <label>Пользовательский рейтинг</label>
            <input type="text" id="user-form-rate">
            <div class='ruler'>
                <div class='cm'>
                    <div class='mm'></div>
                    <div class='mm'></div>
                    <div class='mm'></div>
                    <div class='mm'></div>
                    <div class='mm'></div>
                    <div class='mm'></div>
                    <div class='mm'></div>
                    <div class='mm'></div>
                    <div class='mm'></div>
                </div>
                <div class='cm'>
                    <div class='mm'></div>
                    <div class='mm'></div>
                    <div class='mm'></div>
                    <div class='mm'></div>
                    <div class='mm'></div>
                    <div class='mm'></div>
                    <div class='mm'></div>
                    <div class='mm'></div>
                    <div class='mm'></div>
                </div>
                <div class='cm'>
                    <div class='mm'></div>
                    <div class='mm'></div>
                    <div class='mm'></div>
                    <div class='mm'></div>
                    <div class='mm'></div>
                    <div class='mm'></div>
                    <div class='mm'></div>
                    <div class='mm'></div>
                    <div class='mm'></div>
                </div>
                <div class='cm'>
                    <div class='mm'></div>
                    <div class='mm'></div>
                    <div class='mm'></div>
                    <div class='mm'></div>
                    <div class='mm'></div>
                    <div class='mm'></div>
                    <div class='mm'></div>
                    <div class='mm'></div>
                    <div class='mm'></div>
                </div>
                <div class='cm'>
                    <div class='mm'></div>
                    <div class='mm'></div>
                    <div class='mm'></div>
                    <div class='mm'></div>
                    <div class='mm'></div>
                    <div class='mm'></div>
                    <div class='mm'></div>
                    <div class='mm'></div>
                    <div class='mm'></div>
                </div>
                <div class='cm'></div>
            </div>
        </div>
        <div class="form-group col-lg-4 col-md-4 col-sm-12 col-xs-12 mr-0">
            <div class="checkbox show-results-checkbox">
                <label>
                    {{ fight_filter_form.show_results }}
                    Отображать результаты
                </label>
            </div>
            <div class="checkbox">
                <label>
                    {{ fight_filter_form.with_video }}
                    Только с видео
                </label>
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 button-container  mt-15">
                <button type="submit" class="btn">Подобрать</button>
            </div>
        </div>
    </div>
    <div class="clear"></div>
</form>