{% load staticfiles %}
{% load to_br %}
<div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 last-battle-item-container" onclick="window.location.href='/fight/{{ fight.alias }}'">
    <div class="col-lg-12 last-battle-item">
        <div class="last-battle-item-header">
            <span class="last-battle-item-header-sport-type" style="background: {{ fight.kind_of_fight.color }}">{{ fight.kind_of_fight.name }}</span>
            <span class="last-battle-item-header-stat">
                            <img src="{% static "img/stathuman.png" %}"> <span>{{ fight.get_human_rate.point }} / </span><span>{{ fight.get_human_rate.count }} чел</span>
                        </span>
            <span class="last-battle-item-header-rate">
                            <img src="{% static "img/starpng.png" %}"> {{ fight.get_star_rate }}
                        </span>
        </div>
        <div class="last-battle-item-content">
            <table>
                <tr>
                    <td class="last-battle-item-content-fighter-name"><a href="/fighter/{{ fight.fighter_1.alias }}/">{{ fight.fighter_1.name|space_to_br|safe }}</a></td>
                    <td></td>
                    <td class="last-battle-item-content-fighter-name"><a href="/fighter/{{ fight.fighter_2.alias }}/">{{ fight.fighter_2.name|space_to_br|safe }}</a></td>
                </tr>
                <tr>
                    <td><img src="{{ MEDIA_URL }}{{ fight.fighter_1.image_55_55|default:"../static/img/default_images/fighter_default_head_medium.png" }}"></td>
                    <td><span class="vs-icon">VS</span><span class="weight">{{ fight.weight_category.name }}</span></td>
                    <td><img src="{{ MEDIA_URL }}{{ fight.fighter_2.image_55_55|default:"../static/img/default_images/fighter_default_head_medium.png" }}"></td>
                </tr>
                <tr>
                    <td class="score">
                        {{ fight.fighter_1_statistic.wins }}-{{ fight.fighter_1_statistic.loose }}-{{ fight.fighter_1_statistic.tie }}
                        {% if fight.winner == fight.fighter_1 and show_results %}
                            <div class="proxima-nova-rg ft-10 ft-white fight-result bg-green">Выигрыш</div>
                        {% endif %}
                        {% if fight.winner == fight.fighter_2 and show_results %}
                            <div class="proxima-nova-rg ft-10 ft-white fight-result bg-red">Проигрыш</div>
                        {% endif %}
                    </td>
                    {% if fight.main_video %}
                        <td class="last-battle-play-btn">
                            <a href="{{ fight.main_video }}" target="_blank" onclick="event.stopPropagation()">
                                <img src="{% static "img/play-button-yellow.png" %}" alt="" height="20">
                            </a>
                        </td>
                    {% else %}
                        <td class="last-battle-play-btn"><a href="#"><img src="{% static "img/play-buttond.png" %}" alt="" height="20"></a></td>
                    {% endif %}
                    <td class="score">
                        {{ fight.fighter_2_statistic.wins }}-{{ fight.fighter_2_statistic.loose }}-{{ fight.fighter_2_statistic.tie }}
                        {% if fight.winner == fight.fighter_1 and show_results %}
                            <div class="proxima-nova-rg ft-10 ft-white fight-result bg-red">Проигрыш</div>
                        {% endif %}
                        {% if fight.winner == fight.fighter_2 and show_results %}
                            <div class="proxima-nova-rg ft-10 ft-white fight-result bg-green">Выигрыш</div>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td class="fight-info" colspan="3">{{ fight.event.name }}<br>{{ fight.event.event_date|date:"d.m.Y" }}</td>
                </tr>
            </table>
        </div>
    </div>
</div>