{% extends 'main.html' %}
{% load to_br %}
{% load staticfiles %}

{% block meta_title %}
    {{ title }}
{% endblock %}

{% block social_meta %}
    <meta property="og:title" content="{{ title }}"/>
    <meta property="og:description" content="Все новости в мире ММА, бокса и кикбоксинга"/>
    <meta name="twitter:title" content="{{ title }}">
    <meta name="twitter:description" content="Все новости в мире ММА, бокса и кикбоксинга"/>
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static "css/bootstrap-datetimepicker.min.css" %}">
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="{% static 'js/moment-with-locales.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap-datetimepicker.min.js' %}"></script>
    <script type="text/javascript" src="{% static "js/typeahead.js" %}"></script>
{% endblock %}


{% block content %}
<h1>БОИ</h1>
<ul class="filter-tabs">
    {% if alias == None %}
        <li class="active">Все</li>
    {% else %}
        <li><a href="/fights/">Все</a></li>
    {% endif %}
    {% for filter_fight in fight_list %}
        {% if filter_fight.alias != alias %}
            <li><a href="/fights/{{ filter_fight.alias }}/">{{ filter_fight.name }}</a></li>
        {% else %}
            <li class="active">{{ filter_fight.name }}</li>
        {% endif %}
    {% endfor %}
</ul>
{% include 'fights/_filter_form.html' with fight_filter_form=fight_filter_form %}
<div class="last-battle-block">
    <div class="last-battle-items">
        {% for fight in fights %}
            {% include 'fights/_last_battle_item_container.html' with fight=fight %}
        {% endfor %}
    </div>
</div>
<div class="clear"></div>
{% if count_pages > 1 %}
    {% include 'pager.html' with page=page count_pages=count_pages prev_page=prev_page next_page=next_page range_of_pages=range_of_pages page=page %}
{% endif %}
{% endblock %}