@font-face {
    font-family: 'Anton-Regular';
    src: url('./fonts/Anton-Regular.ttf') format('truetype');
}

.proxima-nova-lt {
    font-family: 'Proxima Nova Cn Lt';
    font-weight: 300;
    font-style: normal;
}

.proxima-nova-rg {
    font-family: 'Proxima Nova Cn Rg';
    font-weight: normal;
    font-style: normal;
}

.proxima-nova-se {
    font-family: 'Proxima Nova Cn Lt';
    font-weight: 600;
    font-style: normal;
}

.proxima-nova-bl {
    font-family: 'Proxima Nova Cn Rg';
    font-weight: bold;
    font-style: normal;
}

.ft-6 { font-size: 6px; }
.ft-7 { font-size: 7px; }
.ft-8 { font-size: 8px; }
.ft-9 { font-size: 9px; }
.ft-10 { font-size: 10px; }
.ft-11 { font-size: 11px; }
.ft-12 { font-size: 12px; }
.ft-13 { font-size: 13px; }
.ft-14 { font-size: 14px; }
.ft-16 { font-size: 16px; }
.ft-18 { font-size: 18px; }
.ft-20 { font-size: 20px; }
.ft-22 { font-size: 22px; }
.ft-24 { font-size: 24px; }
.ft-white { color: white; }
.ft-black { color: black; }

.mr-0 {margin-right: 0}
.ml-0 {margin-left: 0}
.pr-0 {padding-right: 0}
.pl-0 {padding-left: 0}
.m-0 {margin-left: 0; margin-right: 0;}
.p-0 {padding-left: 0; padding-right: 0;}

.mt-15 {margin-top: 15px;}
.mt-10 {margin-top: 10px;}
.mt-5 {margin-top: 5px;}

.starpng {
    margin-bottom: 4px;
    margin-right: 5px;
}

.stathuman {
    margin-bottom: 4px;
    margin-right: 2px;
}

.vertical-align-center-important {
    vertical-align: middle !important;
}

.form-horizontal .form-group .mr-0 {
    margin-right: 0;
}

.form-horizontal .form-group.ml-0 {
    margin-left: 0;
}

.clear {
    clear: both;
}

.logo {
    padding-top: 12px;
    padding-bottom: 12px;
    margin-left: -15px;
}

.logo a {
    font-family: "Anton-Regular";
    font-size: 29px;
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.slogan {
    font-family: 'Proxima Nova Cn Lt';
    font-size: 12px;
    color: #767676;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-left: 15px;
}

.header-search-container {
    padding: 17px 30px 17px 45px;
}

.header-search-container form button {
    background: transparent;
    border: none;
    cursor: pointer;

}
.header-search-container form button img {
    height: 20px;
    cursor: pointer;
}

.header-search-container form input, #ya-site-form0 .ya-site-form__form .ya-site-form__input-text {
    border: none;
    border-bottom: 1px solid #797979;
    height: 20px;
    /*width: calc(100% - 38px);*/
}

.header-search-container form input::placeholder {
    font-family: 'Proxima Nova Cn Rg';
    font-size: 10px;
    color: #353535;
}

.header-social-block {
    text-align: center;
    font-size: 12px;
    color: #002460;
    font-family: "Proxima Nova Cn Lt";
    padding-top: 20px;
    padding-bottom: 12px;
    cursor: pointer;
}

.header-social-block div:last-child {
    /*margin-top: -10px;*/
}

.header-social-block div:first-child {
    margin-bottom: -5px;
}

.main-menu  .header-social-block {
    padding-top: 25px;
    padding-bottom: 5px;
}

.main-menu .header-social-block div:last-child {
    margin-top: -11px;
}

.main-menu .header-social-block div:first-child {
    margin-bottom: -8px;
}

.header-social-block ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.header-social-block ul li {
    display: inline-block;
    font-size: 16px;
}

.header-social-block ul li:nth-child(2) {
    margin-left: 5px;
    margin-right: 5px;
}

.profile {
    padding-top: 21px;
    padding-bottom: 21px;
    cursor: pointer;
}

.profile img {
    width: 22px;
}

.main-menu {
    background-color: #353535;
}

.main-menu ul {
    list-style-type: none;
    padding: 0; margin: 0;
}

.main-menu ul li {
    display: inline-block;
    padding-top: 16px;
    padding-bottom: 20px;
    margin-right: 40px;
    margin-left: 40px;
}

.main-menu ul li.active {
    border-top: 3px solid #c00000;
}

.main-menu ul li a, .main-menu ul li {
    font-family: "Proxima Nova Cn Rg";
    color: #FFFFFF;
    font-size: 18px;
}

.content {
    margin-top: 15px;
}

.left-column {
    margin-left: -15px;
    padding-right: 0;
}

.content h1 {
    margin-top: 50px;
    margin-bottom: 50px;
    font-family: 'Proxima Nova Cn Rg';
    font-weight: bold;
    font-style: normal;
    font-size: 24px;
    color: #000000;
}

.filter-tabs {
    list-style-type: none;
    margin: 0 0 25px 0;
    padding: 0;

}

.filter-tabs li, .filter-tabs li a {
    min-width: 60px;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    font-family: "Proxima Nova Cn Lt";
    font-size: 18px;
    color: #696969;
}

.filter-tabs li.active {
    font-family: 'Proxima Nova Cn Rg';
    font-weight: bold;
    font-style: normal;
    color: #000000;
    border-bottom: 3px solid #000000;
}

.last-battle-items {
    margin-left: -15px;
}

.last-battle-item-container {
    padding-right: 0;
    padding-bottom: 15px;
}

.last-battle-item {
    border-right: 1px solid #c4c4c4;
    border-left: 1px solid #c4c4c4;
    border-bottom: 1px solid #c4c4c4;
    padding-left: 0;
    padding-right: 0;
    -webkit-box-shadow: 0px 7px 28px -5px rgba(0,0,0,0.53);
    -moz-box-shadow: 0px 7px 28px -5px rgba(0,0,0,0.53);
    box-shadow: 0px 7px 28px -5px rgba(0,0,0,0.53);
    cursor: pointer;
}

.last-battle-item:hover {
    -webkit-box-shadow: 0px 7px 28px -5px rgba(0,0,0,1);
    -moz-box-shadow: 0px 7px 28px -5px rgba(0,0,0,1);
    box-shadow: 0px 7px 28px -5px rgba(0,0,0,1);
}

.last-battle-item-header {
    height: 26px;
    background: #454446;
    border-bottom: 1px solid #c4c4c4;
}

.last-battle-item-header-sport-type {
    background: #ff6c00;
    padding: 3px 10px 2px 10px;
    font-family: 'Proxima Nova Cn Rg';
    font-weight: bold;
    font-style: normal;
    font-size: 14px;
    color: #ffffff;
    display: inline-block;
}

.last-battle-item-header-rate {
    font-family: "Proxima Nova Cn Lt";
    font-size: 12px;
    color: #FFFFFF;
    float: right;
    padding-top: 5px;
    margin-right: 15px;
}

.last-battle-item-header-rate img {
    margin-bottom: 5px;
}

.last-battle-item-header-stat {
    float: right;
    margin-right: 15px;
    margin-top: 2px;
}

.last-battle-item-header-stat span {
    font-family: "Proxima Nova Cn Lt";
    font-size: 12px;
    color: #FFFFFF;
}

.last-battle-item-header-stat span:last-child {
    font-family: "Proxima Nova Cn Lt";
    font-size: 10px;
    color: #999999;
}

.last-battle-item-content table {
    width: 80%;
    margin: 10px auto 10px auto;
}

.last-battle-item-content-fighter-name {
    font-family: "Proxima Nova Cn Rg";
    color: #000000;
    font-size: 17px;
}

.last-battle-item-content-fighter-name a {
    font-family: "Proxima Nova Cn Rg";
    color: #002460;
    font-size: 17px;
    text-decoration: underline;
}

.last-battle-item-content .vs-icon {
    font-family: 'Proxima Nova Cn Rg';
    font-weight: bold;
    font-style: normal;
    font-size: 20px;
    color: #000000;
    display: block;
}

.last-battle-item-content .weight {
    font-family: "Proxima Nova Cn Lt";
    font-size: 13px;
    color: #8b8b8b;
}

.last-battle-item-content tr:nth-child(2) td:nth-child(2) {
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
}

.last-battle-item-content .score {
    font-family: "Proxima Nova Cn Rg";
    font-size: 12px;
    color: black;
    text-align: center;
    padding-top: 15px;
}

.last-battle-item-content .last-battle-play-btn {
    text-align: center;
    padding-top: 10px;
}

.last-battle-item-content .fight-info {
    font-family: "Proxima Nova Cn Rg";
    font-size: 12px;
    color: black;
    padding-top: 10px;
}

.right-column {
    padding-right: 0;
}

.right-column-block-header {
    background-color: #002460;
    font-family: "Proxima Nova Cn Rg";
    font-size: 20px;
    color: #eeeeee;
    padding-left: 15px;
    padding-top: 16px;
    padding-bottom: 16px;
}

.right-column-block-content {
    height: 560px;
    overflow-y: scroll;
    overflow-x: hidden;
    border-right: 1px solid #c4c4c4;
    border-left: 1px solid #c4c4c4;
    border-bottom: 1px solid #c4c4c4;
    -webkit-box-shadow: 0px 7px 28px -5px rgba(0,0,0,0.53);
    -moz-box-shadow: 0px 7px 28px -5px rgba(0,0,0,0.53);
    box-shadow: 0px 7px 28px -5px rgba(0,0,0,0.53);
    padding: 25px 15px 0px 15px;
}

.best-fights .filter-tabs li.active, .fighter-rate-block .filter-tabs li.active {
    font-family: 'Proxima Nova Cn Rg';
    font-weight: bold;
    font-style: normal;
    color: #c00000;
    border-bottom: 3px solid #c00000;
}

.best-fights-list {
    padding-top: 10px;
    padding-left: 0;
    padding-right: 0;
}

.best-fights-list .best-fights-list-link {
    list-style-type: none;
    border-top: 1px solid #a6a6a6;
    padding-bottom: 5px;
    margin-right: -15px;
    margin-left: -15px;
    padding-right: 15px;
    padding-left: 15px;
    text-decoration: none;
    display: block;
}

.best-fights-list .best-fights-list-link:hover {
    -webkit-box-shadow: 0px 7px 28px -5px rgba(0,0,0,0.53);
    -moz-box-shadow: 0px 7px 28px -5px rgba(0,0,0,0.53);
    box-shadow: 0px 7px 28px -5px rgba(0,0,0,0.53);
}

.best-fights-list-header {
    font-family: "Proxima Nova Cn Rg";
    font-size: 14px;
    color: #000000;
    padding-top: 15px;
    padding-bottom: 15px;
    font-weight: bold;
}

.best-fights-list-properties {
    font-family: "Proxima Nova Cn Lt";
    font-size: 14px;
    color: #000000;
    width: 100%;
}

.best-fights-list-properties .best-fights-list-prop-name, .best-fights-list-header span {
    font-family: "Proxima Nova Cn Lt";
    font-size: 14px;
    color: #b4b4b4;
}

.best-fights-list-properties img {
    margin-top: -1px;
    margin-right: 5px;
}

.best-fights-stats span, .best-event-properties span {
    font-family: "Proxima Nova Cn Lt";
    font-size: 10px;
    color: #a6a6a6;
}

.best-fights-stats span.active-font {
    font-family: "Proxima Nova Cn Lt";
    font-size: 12px;
    color: #000000;
}

.best-events, .fighter-rate-block, .waiting-fights-block {
    margin-top: 15px;
}

.best-events-list {
    border-top: 1px solid #a6a6a6;
    padding-left: 0;
    padding-right: 0;
}

.best-events-list .best-event-link {
    list-style-type: none;
    margin-top: 10px;
    -webkit-box-shadow: 0px 7px 28px -5px rgba(0,0,0,0.53);
    -moz-box-shadow: 0px 7px 28px -5px rgba(0,0,0,0.53);
    box-shadow: 0px 7px 28px -5px rgba(0,0,0,0.53);
    text-decoration: none;
    display: block;
}

.best-events-list .best-event-link:hover {
    -webkit-box-shadow: 0px 7px 28px -5px rgba(0,0,0,1);
    -moz-box-shadow: 0px 7px 28px -5px rgba(0,0,0,1);
    box-shadow: 0px 7px 28px -5px rgba(0,0,0,1);
}


.best-events-list .best-event-link img, .best-events-list .best-event-link .best-event-content,
.fighter-rate-list .fighter-rate-link img, .fighter-rate-list .fighter-rate-link .fighter-rate-content{
    float: left;
}

.best-events-list .best-event-link .best-event-image {
    margin-right: 4px;
}

.best-event-content {

}

.best-event-type {
    background-color: #ff6c00;
    font-family: 'Proxima Nova Cn Rg';
    font-weight: bold;
    font-style: normal;
    font-size: 10px;
    color: #ffffff;
    padding: 5px 10px 5px 10px;
    margin-left: -5px;
    top: -2px;
    display: inline-block;
}

.best-event-list-header {
    font-size: 12px;
}

.best-event-list-header span {
    font-size: 9px;
}

.best-event-properties {
    margin-top: 10px;
    font-family: "Proxima Nova Cn Rg";
    font-size: 12px;
    color: #272727;
}

.best-event-properties .best-event-list-prop-name {
    font-family: "Proxima Nova Cn Lt";
    font-size: 10px;
    color: #b4b4b4;
}

.best-event-properties img {
    margin-right: 10px;
}

.human-stat {
    margin-left: -5px;
    padding-left: 0px;
}

.best-event-play-btn {
    /*margin-top: 12px;*/
    /*float: right;*/
    display: block;
    position: relative;
    left: 68px;
    top: 20px;
}

.fighter-rate-block-gender-filter {
    list-style-type: none;
    padding: 0;
}

.fighter-rate-block-gender-filter li {
    display: inline-block;
    cursor: pointer;
    padding-top: 5px;
    padding-left: 20px;
    padding-bottom: 5px;
    background: #788bab;
    font-family: 'Proxima Nova Cn Rg';
    font-weight: bold;
    font-style: normal;
    color: white;
    font-size: 12px;
}

.fighter-rate-block-gender-filter li.active {
    background: #002460;
}

.fighter-rate-block-gender-filter li a {
    padding: 6px;
    background: #9fb2d0;
    margin-left: 20px;
    color: white;
}

.fighter-rate-block-gender-filter li.active a {
    background: #4a6da7;
}

.fighter-rate-block-weight-filter-info {
    color: #3c3c3c;
    font-family: "Proxima Nova Cn Rg";
    font-size: 12px;
}

.fighter-rate-block-weight-filter-info i {
    color: #827979;
}


.fighter-rate-list {
    padding-left: 0;
}

.fighter-rate-list .fighter-rate-link {
    border-bottom: 1px solid #d4d4d4;
    margin-left: -15px;
    margin-right: -15px;
    padding: 15px;
    display: block;
    text-decoration: none;
}

.fighter-rate-list .fighter-rate-link:hover {
    -webkit-box-shadow: 0px 7px 28px -5px rgba(0,0,0,0.53);
    -moz-box-shadow: 0px 7px 28px -5px rgba(0,0,0,0.53);
    box-shadow: 0px 7px 28px -5px rgba(0,0,0,0.53);
}

.fighter-rate-list .fighter-rate-link .fighter-rate-list-image {
    margin-right: 15px;

}

.fighter-rate-name {
    font-family: "Proxima Nova Cn Rg";
    font-size: 18px;
    color: black;
    font-weight: bold;
    margin-top: -5px;
}

.fighter-rate-list-properties {
    font-size: 16px;
    margin-top: -2px;
}

.fighter-rate-list-properties td:first-child {
    border-right: 1px solid black;
    padding-right: 40px;
}

.fighter-rate-list-properties td:last-child {
    padding-left: 15px;
}

.waiting-fights-list {
    padding-left: 0;
    list-style-type: none;
    margin-left: -15px;
    margin-right: -15px;
}

.waiting-fights-list a.waiting-fight-link {
    padding-left: 15px;
    padding-right: 15px;
    cursor: pointer;
    text-decoration: none;
    display: block;
}

.waiting-fights-list .blue-bg {
    background: #002665; /* Old browsers */
    background: -moz-linear-gradient(top, #002665 0%, #00286b 0%, #002665 0%, #003793 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #002665 0%,#00286b 0%,#002665 0%,#003793 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #002665 0%,#00286b 0%,#002665 0%,#003793 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#002665', endColorstr='#003793',GradientType=0 ); /* IE6-9 */
}

.waiting-fight-type {
    display: inline-block;
    padding: 2px 20px 2px 20px;
    background: #ff6c00;
    font-family: "Proxima Nova Cn Rg";
    font-size: 14px;
    color: white;
}

.waiting-fights-date {
    text-align: center;
    font-family: "Proxima Nova Cn Rg";
    font-weight: 100;
    font-size: 29px;
    width: 55px;
    margin-top: 10px;
}

.waiting-fights-year {
    font-family: "Proxima Nova Cn Lt";
    font-size: 14px;
    text-align: center;
    width: 55px;
    margin-bottom: 12px;
}

.waiting-fights-date span {
    font-size: 18px;
    display: block;
}

.waiting-fights-list .white-bg {
    border-top: 1px solid #a6a6a6;
}

.waiting-fights-list .blue-bg .waiting-fights-date {
    color: #002460;
    background: white;
}

.waiting-fights-list .white-bg .waiting-fights-date {
    color: #fdfdfd;
    background: #002460;
}

.waiting-fights-list .blue-bg .waiting-fights-year {
    color: #002460;
    background: white;
    border-top: 1px solid #002767;
}

.waiting-fights-list .white-bg .waiting-fights-year {
    color: #002460;
    border-bottom: 1px solid #002767;
    border-left: 1px solid #002767;
    border-right: 1px solid #002767;
}

.waiting-fight-name {
    font-family: 'Proxima Nova Cn Rg';
    font-weight: bold;
    font-style: normal;
    font-size: 14px;
}

.waiting-fight-name span {
    font-family: "Proxima Nova Cn Lt";
    font-size: 14px;
}

.waiting-fight-props td {
    vertical-align: top;
}

.waiting-fight-props td:last-child {
    padding-top: 7px;
    padding-left: 20px;
}

.waiting-fights-list .blue-bg .waiting-fight-name {
    color: #ffba00;
}

.waiting-fights-list .blue-bg .waiting-fight-name span {
    color: white;
}

.waiting-fights-list .white-bg .waiting-fight-name {
    color: black;
}

.waiting-fights-list .white-bg .waiting-fight-name span {
    color: #b4b4b4;
}

.waiting-fight-props-detail {
    font-family: "Proxima Nova Cn Lt";
    font-size: 12px;
    width: 100%;
    margin-top: 10px;
}

.waiting-fights-list .waiting-fight-props-detail td {
    padding: 0;
    padding-bottom: 6px;
}

.waiting-fights-list .waiting-fight-props-detail td:last-child {
    padding-left: 10px;
}

.waiting-fights-list .blue-bg .waiting-fight-props-detail td:first-child {
    color: #9ea7bb;
}

.waiting-fights-list .blue-bg .waiting-fight-props-detail td:last-child {
    color: white;
}

.waiting-fights-list .white-bg .waiting-fight-props-detail td:first-child {
    color: #acacad;
}

.waiting-fights-list .white-bg .waiting-fight-props-detail td:last-child {
    color: #2b2b2b;
}

.waiting-fight-props-detail .best-fights-stats {
    float: right;
}

.waiting-fight-props-detail .best-fights-stats img {
    margin-bottom: 5px;
    margin-right: 5px;
}

.content h2 {
    margin-top: 50px;
    margin-bottom: 50px;
    font-family: 'Proxima Nova Cn Rg';
    font-weight: bold;
    font-style: normal;
    font-size: 24px;
    color: #000000;
}

.news-item {
    -webkit-box-shadow: 0px 7px 28px -5px rgba(0,0,0,0.53);
    -moz-box-shadow: 0px 7px 28px -5px rgba(0,0,0,0.53);
    box-shadow: 0px 7px 28px -5px rgba(0,0,0,0.53);
    padding: 15px;
    margin-top: 10px;
    cursor: pointer;
}

.news-item:hover {
    -webkit-box-shadow: 0px 7px 28px -5px rgba(0,0,0,1);
    -moz-box-shadow: 0px 7px 28px -5px rgba(0,0,0,1);
    box-shadow: 0px 7px 28px -5px rgba(0,0,0,1);
}

.news-item .news-cover, .news-item .news-intro {
    float: left;
}

.news-top-line .news-label {
    float: left;
    font-family: "Proxima Nova Cn Rg";
    font-weight: bold;
    font-size: 14px;
    padding: 5px 20px 5px 20px;
    background: #c00000;
    color: white;
    margin-left: 2px;
}

.news-top-line .news-rate, .news-page-top-panel .news-rate {
    font-family: "Proxima Nova Cn Rg";
    font-size: 14px;
    color: black;
    float: right;
}

.news-top-line .news-rate .news-rate-item, .news-page-top-panel .news-rate .news-rate-item {
    width: 4px;
    height: 8px;
    background: black;
    margin-right: 3px;
    float: right;
    margin-top: 6px;
}

.news-item .news-cover {
    width: 215px;
}

.news-item .news-intro {
    width: calc(100% - 215px);
}

.news-item .news-intro .news-header {
    font-family: "Proxima Nova Cn Rg";
    font-size: 18px;
    color: black;
    margin-top: 10px;
    margin-left: 30px;
    font-weight: bold;
}


.news-item .news-intro .news-intro-text {
    font-family: "Proxima Nova Cn Lt";
    font-size: 14px;
    color: #616161;
    margin-top: 10px;
    margin-left: 30px;
}


.news-item .news-intro .news-info, .news-item .news-info-portable-device {
    font-family: "Proxima Nova Cn Lt";
    font-size: 12px;
    color: #747474;
    margin-left: 30px;
    margin-top: 20px;
}

.news-item .news-intro .news-info .devider, .news-item .news-info-portable-device .devider {
    margin-left: 15px;
    margin-right: 15px;
}

.news-item .news-info-portable-device {
    width: 100%;
    text-align: center;
    margin-top: 18px;
    padding-top: 18px;
    border-top: 1px solid #e3e3e3;
    margin-left: 0;
}

.footer {
    margin-top: 50px;
    background: #353535;
    padding-top: 50px;
    padding-bottom: 35px;
}

.footer, .footer a, .footer div {
    font-family: "Proxima Nova Cn Rg";
    font-size: 14px;
    color: #919191;
}

.footer .footer-menu-header {
    font-family: "PT Sans";
    font-size: 18px;
    color: #cccccc;
    margin-bottom: 33px;
}

.footer .footer-menu {
    list-style-type: none;
    padding: 0;
}

.footer .footer-logo {
    font-family: "Anton-Regular";
    font-size: 24px;
    color: white;
    margin-bottom: 30px;
}

.footer .footer-copy {
    margin-top: 50px;
}

.mobile-menu-icon {
    padding-top: 17px;
    padding-bottom: 17px;
    text-align: right;

}

.main-menu .header-social-block div:first-child {
    color: white;
}

.main-menu .header-social-block div:last-child {
    color: white;
}

.main-menu .header-social-block ul li {
    margin-right: 0;
    margin-left: 0;
    padding-top: 5px;
    padding-bottom: 5px;
}

.main-menu .header-social-block ul li:nth-child(2) {
    margin-right: 5px;
    margin-left: 5px;
}

.header-search-container-mobile {
    color: white;
    font-size: 24px;
}

.paginator-container {
    text-align: center;
}

.paginator {
    list-style-type: none;
    padding: 0;
}

.paginator li {
    font-family: "Proxima Nova Cn Rg";
    font-weight: bold;
    font-size: 18px;
    color: black;
    margin-left: 7px;
    margin-right: 7px;
    display: inline-block;
    margin-top: 37px;
}

.paginator li a {
    color: #0042af;
}

/* BEGIN FIGHTER PAGE*/
.figter-detail-info img, .figter-detail-info table {
    display: block;
    float: left;
}

.figter-detail-info img {
    padding-left: 0;
    padding-right: 0;
}

.figter-detail-info table {
   padding-left: 30px;
}

.figter-detail-info table th {
    font-family: "Proxima Nova Cn Lt";
    font-weight: 300;
    font-style: normal;
    font-size: 13px;
    color: #b4b4b4;
    vertical-align: top;
    padding-bottom: 5px;
}

.figter-detail-info table td {
    font-family: 'Proxima Nova Cn Rg';
    font-weight: normal;
    font-style: normal;
    font-size: 13px;
    color: black;
    vertical-align: top;
    padding-left: 30px;
    padding-bottom: 5px;
}

h3 {
    font-family: 'Proxima Nova Cn Lt';
    font-weight: 600;
    font-style: normal;
    font-size: 16px;
    color: black;
    padding-top: 15px;
    padding-bottom: 15px;

}

.profile-fight-statistic-blocks {
    padding-left: 0;
    padding-right: 0;
    -webkit-box-shadow: 0px 7px 28px -5px rgba(0,0,0,0.53);
    -moz-box-shadow: 0px 7px 28px -5px rgba(0,0,0,0.53);
    box-shadow: 0px 7px 28px -5px rgba(0,0,0,0.53);
}

.profile-fight-statistic .wins-block, .profile-fight-statistic .noany-block {
     padding: 15px;
     border: 1px solid #dcdcdc;
}

.profile-fight-statistic .lose-block {
    padding: 15px;
    border-top: 1px solid #dcdcdc;
    border-bottom: 1px solid #dcdcdc;
}

.profile-fight-statistic .wins-block .summary-info span, .profile-fight-statistic .wins-summary-tbl td {
    background: #00a82b;
}

.profile-fight-statistic .lose-block .summary-info span, .profile-fight-statistic .lose-summary-tbl td {
    background: #af0000;
}

.profile-fight-statistic .noany-block .summary-info:first-child span {
    background: #acacad;
}

.profile-fight-statistic .noany-block .summary-info:last-child {
    margin-top: 10px;
}

.profile-fight-statistic .noany-block .summary-info:last-child span {
    background: #232323;
}

.profile-fight-statistic .summary-info {
    font-family: 'Proxima Nova Cn Lt';
    font-weight: 600;
    font-style: normal;
    font-size: 13px;
    color: white;
}

.profile-fight-statistic .summary-info span {
    padding: 3px 7px 3px 7px;
}

.profile-fight-statistic .summary-info span:first-child {
    border-right: 1px solid white;
}
.profile-fight-statistic table {
    margin-top: 12px;
    width: 100%;
}
.profile-fight-statistic table th {
    font-family: 'Proxima Nova Cn Lt';
    font-weight: 300;
    font-style: normal;
    font-size: 13px;
    color: #b4b4b4;
}
.profile-fight-statistic table th:last-child {
    padding-left: 10px;
}
.profile-fight-statistic table td {
    font-family: 'Proxima Nova Cn Rg';
    font-weight: bold;
    font-style: normal;
    color: white;
    padding: 3px 3px 3px 3px;
    font-size: 13px;
    text-align: center;
    border: 1px solid white;
}
.content h2.sm-bold-18 {
    font-family: 'Proxima Nova Cn Lt';
    font-weight: 600;
    font-style: normal;
    font-size: 18px;
    color: black;
}

.bg-green { background: #00a82b; }
.cl-green { color: #00a82b; }
.bg-red { background: #af0000; }
.cl-red { color: #af0000; }
.bg-black { background: black; }
.cl-black { color: black; }
.bg-grey { background: #acacac; }
.cl-grey { color: #acacac; }
.cl-yellow { color: #ebba16; }



.history-professional-fights {
    width: 100%;
}

.history-professional-fights th, .history-professional-fights td{
    border: 1px solid #d7d7d7;
    border-collapse: collapse;
}

.history-professional-fights th {
    font-family: 'Proxima Nova Cn Lt';
    font-weight: 600;
    font-style: normal;
    font-size: 12px;
    color: white;
    background: black;
    text-align: center;
    padding: 5px;
}

.history-professional-fights td.rt {
    padding-left: 10px;
    padding-right: 10px;
}
.history-professional-fights td.opponent {
    padding-left: 5px;
    padding-right: 5px;
    cursor: pointer;
}

.opponent-img-name {
    display: flex;
}

.history-professional-fights td.opponent .opponent-img-name,
.event-info-fighter-info .opponent-img-name {
    width: 85px;
}

.history-professional-fights td.opponent .opponent-img-name img,
.history-professional-fights td.opponent .opponent-img-name .fighter-name,
.event-info-fighter-info .opponent-img-name img,
.event-info-fighter-info .opponent-img-name .fighter-name{
    float: left;
    margin-top: 5px;
}

.history-professional-fights td.opponent .fighter-name,
.event-info-fighter-info .opponent-img-name .fighter-name  {
    margin-left: 5px;
    color: #2b2b2b;
    line-height: 15px;
}

.history-professional-fights td.opponent .fighter-score,
.event-info-fighter-info .fighter-score{
    text-align: right;
    color: #666666;
    margin-top: -4px;
}
.history-professional-fights td.opponent .text-legend,  .last-fights-mobile-item-full-info .text-legend {
    margin-top: 10px;
    text-align: right;
    margin-bottom: 8px;
}

.text-legend span {
    cursor: pointer;
}

.history-professional-fights td.opponent .text-legend span, .last-fights-mobile-item-full-info .text-legend span,
.best-fight-rate-container .text-legend span, .event-info-fighter-info .text-legend span,
.event-fight-info-tbl .text-legend span,
.history-professional-fights td.opponent .text-legend a, .last-fights-mobile-item-full-info .text-legend a,
.best-fight-rate-container .text-legend a, .event-info-fighter-info .text-legend a,
.event-fight-info-tbl .text-legend a
{
    color: white;
    width: 10px;
    padding-top: 1px;
    padding-bottom: 1px;
    text-align: center;
    display: inline-block;
}
.history-professional-fights td.posible {
    color: #5b5b5b;
    padding-left: 7px;
}
.history-professional-fights td.tournament {
    color: #404040;
    text-align: center;
    padding-left: 7px;
    padding-right: 7px;
    cursor: pointer;
}
.history-professional-fights td.tournament div {
    color: #5b5b5b;
    margin-top: 10px;
}
.history-professional-fights td.location {
    color: #5b5b5b;
    text-align: center;
}
.history-professional-fights td.addition {
    color: #5b5b5b;
    text-align: center;
    font-size: 11px;
}
.history-professional-fights td.category {
    color: #383838;
    padding-left: 7px;
    padding-right: 7px;
}
.history-professional-fights td.rate {
    padding-right: 3px;
    padding-left: 3px;
}
.history-professional-fights td.rate div:first-child {
    margin-left: 5px;
}
.history-professional-fights td.rate div:last-child {
    margin-top: 3px;
}
.history-professional-fights td.rate div:first-child img {
    margin-right: 3px;
}
.history-professional-fights td.play-btn {
    padding-left: 5px;
    padding-right: 5px;
}
.history-professional-fights td.play-btn img {
    cursor: pointer;
}
.videos-highlights-header {
    margin-bottom: 15px;
    margin-top: 15px;
}

.videos-highlights-header .fighter-names {
    float: left;
}
.videos-highlights-header .fighter-names a,
.fight-rates a {
    color: #337ab7;
    text-decoration: underline;
}
.videos-highlights-header .fighter-names a:hover,
.fight-rates a:hover {
    font-family: 'Proxima Nova Cn Rg';
    font-weight: bold;
    font-style: normal;
}
.videos-highlights-header .video-not-work-link{
    float: right;
    text-decoration: none;
    color: #4f4f4f;
}
.videos-highlights .insert-video {
    margin-top: 30px;
}
.videos-highlights .insert-video a {
    color: #002460;
    font-size: 15px;
}
.form-control-attach {
    cursor: pointer;
    font-size: 16px;
    color: #acacac;
}
.comment-form-avatar {
    margin-top: -16px;
    padding-left: 0;
}
.comment-form-input-block {
    padding-left: 0;
    padding-right: 0;
}
.comment-enter-social-block {
    color: #010101;
    padding: 20px 15px 20px 15px;
    border: 1px solid #e8e8e8;
    -webkit-box-shadow: 0px 7px 28px -5px rgba(0,0,0,0.53);
    -moz-box-shadow: 0px 7px 28px -5px rgba(0,0,0,0.53);
    box-shadow: 0px 7px 28px -5px rgba(0,0,0,0.53);
    margin-top: 10px;
    border-radius: 5px;
}
.comment-enter-social-block div:first-child {
    margin-bottom: 10px;
}
.comment-enter-social-block img {
    margin-right: 5px;
}
.comments-block {
    margin-top: 30px;
    margin-bottom: 15px;
}
.comments-block .media-heading span {
    margin-left: 10px;
    color: #8b8b8b;
}
.comments-block .media-body a {
    display: block;
    margin-top: 10px;
}
.last-fights-mobile-list .last-fights-mobile-item {
    background: #292929;
    display: block;
}
.last-fights-mobile-item-block {
    margin-bottom: 10px;
}
.last-fights-mobile-item .status-opened-icon {
    font-size: 18px;
    color: #e1b317;
    float: left;
    padding: 20px 12px 20px 10px;
}
.last-fights-mobile-item .last-fight-date {
    color: #292929;
    float: left;
    margin-top: 3px;
    margin-bottom: 3px;
}
.last-fights-mobile-item .last-fight-day, .last-fights-mobile-item .last-fight-year {
    background: white;
}

.last-fights-mobile-item .last-fight-day {
    width: 55px;
}
.last-fights-mobile-item .last-fight-day span {
    display: block;
}
.last-fights-mobile-item .last-fight-year {
    border-top: 1px solid #292929;
    width: 55px;
}
.last-fights-mobile-item .last-fight-status {
    float: left;
    padding: 20px 10px 20px 10px;
}
.last-fights-mobile-item .last-fight-avatar {
    float: left;
    padding-top: 5px;
}
.last-fights-mobile-item .last-fight-name {
    color: #fefefe;
    padding-top: 10px;
    margin-left: 7px;
    float: left;
}
.last-fights-mobile-item .last-fight-play-btn {
    float: right;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-right: 20px;
}
.last-fights-mobile-item-full-info {
    font-family: 'Proxima Nova Cn Rg';
    font-weight: normal;
    font-style: normal;
    color: black;
    font-size: 14px;
    list-style-type: none;
}
.last-fights-mobile-item-full-info .last-fights-mobile-item-full-info-param-name {
    color: #adadad;
    margin-right: 5px;
}
.last-fights-mobile-item-full-info {
    padding: 0;
    margin-left: 50px;
    -webkit-box-shadow: 0px 7px 28px -5px rgba(0,0,0,0.53);
    -moz-box-shadow: 0px 7px 28px -5px rgba(0,0,0,0.53);
    box-shadow: 0px 7px 28px -5px rgba(0,0,0,0.53);
    display: none;
}
.last-fights-mobile-item-full-info li {
    padding: 10px 15px 10px 15px;
    border-top: 1px solid #e6e6e6;
}
.last-fights-mobile-item-full-info .text-legend {
    text-align: left;
    float: right;
    margin-top: 0px;
    margin-bottom: 0px;
}
.last-fights-mobile-item-full-info .text-legend span {
    width: 15px;
}
.last-fights-mobile-item-full-info img{
    margin-bottom: 3px;
}
/* END FIGHTER PAGE*/

/*BEGIN FIGHTS PAGE*/
.find-fight-page-form {
    margin-bottom: 50px;
    display: block;
}
.slider .slider-selection {
    background: #afcefa;
}
.form-horizontal .checkbox.show-results-checkbox {
   margin-top: 32px;
}
.find-fight-page-form .input-group {
    margin-bottom: 5px;
}
.find-fight-page-form input, .find-fight-page-form select {
    height: 25px;
    max-width: 195px;
    background: #fafafa;
    font-family: "PT Sans";
    font-weight: normal;
    font-size: 14px;
    color: #000000;
    border: 1px solid #8ca0c0;
}
.find-fight-page-form .input-group-addon {
    padding: 3px 12px;
}
.find-fight-page-form input::placeholder, .find-fight-page-form select::placeholder,
.find-fight-page-form select{
    font-family: "PT Sans";
    font-weight: normal;
    font-size: 14px;
    color: #bdc2cc;
}
.find-fight-page-form select {
    padding-top: 1px;
    padding-bottom: 1px;
}
.find-fight-page-form .form-search-field {
    max-width: none;
}
.find-fight-page-form label {
    font-family: 'Proxima Nova Cn Lt';
    font-weight: 600;
    font-style: normal;
    font-size: 14px;
    color: black;
    margin-bottom: 10px;
}
.find-fight-page-form .checkbox label, .find-fight-page-form .radio label {
    font-family: 'Proxima Nova Cn Lt';
    font-weight: 600;
    font-style: normal;
    font-size: 13px;
    color: #767676;
    margin-bottom: 0px;
    margin-top: 0;
}
.find-fight-page-form input[type=radio], .find-fight-page-form input[type=checkbox] {
    height: auto;
    margin-top: 1px;
}
.find-fight-page-form input[type=checkbox] {
    margin-top: 3px;
}
.find-fight-page-form .slider-handle.round {
    border-radius: 0;
    width: 10px;
    margin-left: -1px;
    background: #0f3d88;
}
.find-fight-page-form button {
    font-family: Arial;
    font-weight: normal;
    font-size: 12px;
    color: white;
    background: #0047bd;
    border: none;
    border-radius: 0;
    padding: 5px 35px 5px 35px;
    margin-top: -1px;
}
.find-fight-page-form button:hover {
    color: white;
}
.find-fight-page-form .radio, .find-fight-page-form .checkbox {
    padding-top: 0;
    min-height: 0;
    height: 20px;
}
.find-fight-page-form .slider.slider-horizontal {
    width: 100%;
}
.find-fight-page-form .sm-mt-10 {
    margin-top: 10px;
}
/*https://codepen.io/pbweb/pen/grQKEK*/
.ruler {
    position: relative;
    width: 100%;
    margin: 0px auto;
    height: 14px;
}
.ruler .cm,
.ruler .mm {
    position: absolute;
    border-left: 1px solid #555;
    height: 7px;
    width: 20%;
}
.ruler .cm:after {
    position: absolute;
    bottom: -15px;
    font: 11px/1 sans-serif;
}
.ruler .mm {
    height: 5px;
}
.ruler .mm:nth-of-type(5) {
    height: 10px;
}
.ruler .cm:nth-of-type(1) {
    left: 0%;
}
.ruler .cm:nth-of-type(1):after {
    content: "0";
}
.ruler .cm:nth-of-type(2) {
    left: 20%;
}
.ruler .cm:nth-of-type(2):after {
    content: "1";
}
.ruler .cm:nth-of-type(3) {
    left: 40%;
}
.ruler .cm:nth-of-type(3):after {
    content: "2";
}
.ruler .cm:nth-of-type(4) {
    left: 60%;
}
.ruler .cm:nth-of-type(4):after {
    content: "3";
}
.ruler .cm:nth-of-type(5) {
    left: 80%;
}
.ruler .cm:nth-of-type(5):after {
    content: "4";
}
.ruler .cm:nth-of-type(6) {
    left: 100%;
    width: 0;
}
.ruler .cm:nth-of-type(6):after {
    content: "5";
}

.ruler .mm:nth-of-type(1) {
    left: 10%;
}
.ruler .mm:nth-of-type(2) {
    left: 20%;
}
.ruler .mm:nth-of-type(3) {
    left: 30%;
}
.ruler .mm:nth-of-type(4) {
    left: 40%;
}
.ruler .mm:nth-of-type(5) {
    left: 50%;
}
.ruler .mm:nth-of-type(6) {
    left: 60%;
}
.ruler .mm:nth-of-type(7) {
    left: 70%;
}
.ruler .mm:nth-of-type(8) {
    left: 80%;
}
.ruler .mm:nth-of-type(9) {
    left: 90%;
}
.ruler .mm:nth-of-type(10) {
    left: 100%;
}
/*END FIGHTS PAGE*/

/*FIGHT PAGE BEGIN*/
.table-prop-orange{
    color: #ff7200;
}

.fight-detail-info .fight-table-header {
    padding-bottom: 20px;
    font-size: 18px;
    font-family: 'Proxima Nova Cn Rg';
    font-weight: bold;
    font-style: normal;
    padding-left: 0;
}
.figter-detail-info.fight-detail-info-person-page table {
    border-bottom: none;
    padding-bottom: 10px;
    padding-right: 0;
}
.fight-detail-info .fight-result {
    padding-top: 10px;
}

.fight-detail-info .place-flag {
    margin-top: 3px;
    margin-right: 3px;
}
.fighters-detail-info {
    margin-top: 10px;
    margin-bottom: 50px;
}
.fighters-detail-info .left-fighter-info div:first-child,
.fighters-detail-info .fighters-info-params div:first-child,
.fighters-detail-info .right-fighter-info div:first-child {
    margin-bottom: 15px;
}
.fighters-detail-info .left-fighter-info {
    padding-right: 0;
}
.fighters-detail-info .fighters-info-params {
    color: #b4b4b4;
}
.fighters-detail-info .fighters-info-params .horiz-line {
    width: 100%;
    height: 1px;
    border-bottom: 1px solid #b8b8ba;
    padding-top: 19px;
}
.fighters-detail-info .right-fighter-info {
    padding-left: 0;
}
.last-six-fights .left-tbl {
    padding-left: 0;
    padding-right: 2.5px;
}
.last-six-fights .right-tbl {
    padding-right: 0;
    padding-left: 2.5px;
}
.last-six-fights table {
    -webkit-box-shadow: 0px 7px 28px -5px rgba(0,0,0,0.53);
    -moz-box-shadow: 0px 7px 28px -5px rgba(0,0,0,0.53);
    box-shadow: 0px 7px 28px -5px rgba(0,0,0,0.53);
}
.last-six-fights table tr td {
    cursor: pointer;
    padding: 5px;
}
.last-six-fights table th,
.event-info-table table th {
    font-family: 'Proxima Nova Cn Lt';
    font-weight: 600;
    font-style: normal;
    color: white;
    font-size: 13px;
    background: black;
}
.last-six-fights .text-legend {
    text-align: right;
}
.last-six-fights .text-legend span {
    width: 10px;
    padding-top: 1px;
    padding-bottom: 1px;
    text-align: center;
    display: inline-block;
}
.fight-rates {
    color: #141414;
}
.fight-rate-in-header {
    margin-top: 50px;
}
.fight-rate-in-header table {
    position: absolute;
    right: 0;
}
.fight-vs-ico {
    margin-top: 30%;
}
.result-spoiler {
    display: none;
}
.result-spoiler-btn {
    cursor: pointer;
    text-decoration: underline;
    text-decoration-color: #ff7200;
}
/*END FIGHT PAGE BEGIN*/
/*BEGIN CALENDAR PAGE*/
.best-events-list-page .best-event-link-container {
    padding-left: 5px;
    padding-right: 5px;
}
.best-events-list-page {
    border-top: none;
    margin-left: -10px;
}
.best-events-list-page .best-event-link {
    padding: 0;
}
/*END CALENDAR PAGE*/
/*NEWS PAGE*/
.news-page-top-panel {
    margin-top: 20px;
}
.content h1.news-page-header {
    font-family: 'Proxima Nova Cn Rg';
    font-weight: bold;
    font-style: normal;
    font-size: 24px;
    margin-top: 20px;
}
.news-page-top-panel .news-page-top-panel-author {
    float: left;
}
.news-quote {
    font-family: 'Proxima Nova Cn Lt';
    font-weight: 600;
    font-style: normal;
    font-size: 18px;
    color: black;
    margin: 15px 15px 15px 15px;
}

.news-text {
    font-family: 'Proxima Nova Cn Rg';
    font-weight: normal;
    font-style: normal;
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.news-share-block {
    color: #010101;
    padding: 20px 15px 20px 15px;
    margin-top: 10px;
    border-radius: 5px;
    background: #efeff0;
}
.news-share-block div:first-child {
    font-family: 'Proxima Nova Cn Lt';
    font-weight: 600;
    font-style: normal;
    font-size: 16px;
    color: black;
    margin-bottom: 10px;
}
.news-share-block div:last-child img {
    margin-right: 5px;
}
/*END NEWS PAGE*/
/*RATE PAGES*/
.rate-categories {
    margin-bottom: 15px;
}
.rate-categories .right-column-block-content{
    height: auto;
}
.right-column-block-header.rate-categories-header {
    background: #252424;
}
.rate-categories ul {
    list-style-type: none;
    font-family: 'Proxima Nova Cn Rg';
    font-style: normal;
    color: #462020;
    text-decoration: none;
    margin-left: -15px;
    padding-left: 0px;
}
.rate-categories ul li {

}
.rate-categories ul li a {
    color: #462020;
    text-decoration: none;
    padding: 7px 15px 7px 5px;
    display: inline-block;
}
.rate-categories ul li a.active {
    background-color: #c00000;
    font-weight: bold;
    color: white;
}
.rate-categories ul ul, .rate-categories ul ul ul {
    border-left: 1px dotted black;
}
.rate-categories ul ul li:before, .rate-categories ul ul ul li:before {
    content: "--";
}
.rate-categories ul ul li a.active, .rate-categories ul ul ul li a.active {
    background-color: #ffffff;
    color: #c00000;
}
.rate-categories ul ul li a.active:before, .rate-categories ul ul ul li a.active:before  {
    color: #c00000;;
    content: "→ ";
}
.right-column-block-content ul ul, .right-column-block-content ul ul ul {
    margin-left: 25px;
}

.best-fights-rate-container {
    margin-left: -15px;
    margin-right: -15px;
}

.best-fight-rate-container {
    padding: 15px;
    -webkit-box-shadow: 0px 7px 28px -5px rgba(0,0,0,0.53);
    -moz-box-shadow: 0px 7px 28px -5px rgba(0,0,0,0.53);
    box-shadow: 0px 7px 28px -5px rgba(0,0,0,0.53);
    text-decoration: none;
    display: block;
    margin-bottom: 15px;
}
.best-fight-rate-container:hover {
    text-decoration: none;
}
.best-fight-rate-container .rate-position {
    background: #c00000;
    padding: 3px 9px 3px 9px;
}
.best-fight-rate-container  .fighter-rate-page-name {
    margin-top: -5px;
    margin-bottom: 5px;
}
.best-fight-rate-container .text-legend {
    margin-top: 5px;
}
.best-fight-rate-container table tr td:first-child {
    vertical-align: top;
    padding-right: 15px;
}
.best-fight-rate-container table tr td:nth-child(2) {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 15px;
}
/*END RATE PAGES*/
/*EVENT INFO PAGE*/
.content h1.event-info-page {
    margin-bottom: 0;
}
.content h2.event-page-h2 {
    font-size: 18px;
    margin-bottom: 20px;
}
.event-info-table {
    -webkit-box-shadow: 0px 7px 28px -5px rgba(0,0,0,0.53);
    -moz-box-shadow: 0px 7px 28px -5px rgba(0,0,0,0.53);
    box-shadow: 0px 7px 28px -5px rgba(0,0,0,0.53);
}
.event-info-table .table td {
    vertical-align: middle;
}
.event-info-table .table tr td:first-child {
    min-width: 240px;
}
.event-info-table .table tr td:last-child {
    cursor: pointer;
}
.event-info-fighter-info {
    -webkit-box-shadow: 0px 7px 28px -5px rgba(0,0,0,0.53);
    -moz-box-shadow: 0px 7px 28px -5px rgba(0,0,0,0.53);
    box-shadow: 0px 7px 28px -5px rgba(0,0,0,0.53);
    padding: 10px;
    cursor: pointer;
}
.event-info-fighter-info:hover {
    -webkit-box-shadow: 0px 7px 28px -5px rgba(0,0,0,1);
    -moz-box-shadow: 0px 7px 28px -5px rgba(0,0,0,1);
    box-shadow: 0px 7px 28px -5px rgba(0,0,0,1);
}

.event-info-fighter-info, .event-info-fighter-info-vs {
    display: inline-block;
}
.event-info-fighter-info-vs {
    font-family: 'Proxima Nova Lt';
    font-weight: 600;
    font-style: normal;
    background: #012e7a;
    padding: 3px;
    font-size: 10px;
    color: #FFFFFF;
    margin-left: -6px;
    margin-right: -6px;
}
.show-results-checkbox-event-page input {
    top: -1px;
    position: relative;
}
.event-info-list-mobile table th {
    background: black;
    color: white;
}
.event-info-list-mobile table td {
    background: #f3f3f5;
}
.event-info-list-mobile table td:nth-child(2) {
    padding-right: 0;
    padding-left: 3px;
}

.event-fight-info-tbl {
    cursor: pointer;
}

.event-fight-info-tbl-header {
    margin-bottom: 0;
}

.event-fight-info-tbl .fighter-name {
    margin-left: 5px;
}
.horiz-vs-devider {
    margin-top: 10px;
    margin-bottom: 10px;
    height: 1px;
    border-top: 1px solid #d8d8d9;
    margin-left: -9px;
    margin-right: -9px;
}
.horiz-vs-devider span {
    position: relative;
    top: -10px;
    left: 70%;
    font-family: 'Proxima Nova Cn Rg';
    font-weight: bold;
    font-style: normal;
    font-size: 10px;
    background: #f3f3f5;
    padding: 5px 7px 5px 7px;

}
.event-fight-info-tbl-rate {
    margin-bottom: 5px;
}
.about-tournament-content-container {
    padding: 0;
}
.about-tournament img, .about-tournament .best-event-content {
    float: left;
}

.about-tournament .best-event-content {
    max-width: 50%;
}

.about-tournament .best-event-properties {
    margin-top: 10px;
    margin-left: 10px;
    font-size: 12px;
}

.about-tournament .best-event-properties td {
    vertical-align: top;
}

.about-tournament .best-event-properties .best-event-list-prop-name {
    font-size: 12px;
    font-family: 'Proxima Nova Cn Rg';
    font-weight: normal;
    font-style: normal;
}
.about-tournament .best-event-properties span {
    font-size: 12px;
    font-family: 'Proxima Nova Cn Rg';
    font-weight: normal;
    font-style: normal;
    color: black;
}
.text-legend-popup {
    display: none;
    position: fixed;
    left: 0;
    bottom: 23px;
    -webkit-box-shadow: 0px 7px 28px -5px rgba(0,0,0,0.53);
    -moz-box-shadow: 0px 7px 28px -5px rgba(0,0,0,0.53);
    box-shadow: 0px 7px 28px -5px rgba(0,0,0,0.53);
    border-top: 1px solid #002460;
    border-right: 1px solid #002460;
    background: white;
    font-family: 'Proxima Nova Cn Rg';
    font-weight: normal;
    font-style: normal;
    color: #121212;
    font-size: 12px;

}
.text-legend-popup img, .text-legend-popup .text-legend-popup-description {
    float: left;
}
.text-legend-popup .text-legend-popup-description {
    padding: 2px 2px 2px 2px;
}
.rate-categories-in-content {
    padding-left: 0;
    padding-right: 0;
}
.rate-categories-in-content .about-tournament .best-event-content {
    max-width: 50%;
}
/*END EVENT INFO PAGE*/

.tags-container {
    padding: 10px 10px 10px 10px;
}

.tags {
    margin-bottom: 15px;
}

/* WEIGHT CATEGORIES FILTER POPUP */
.fighter-rate-block-weight-categories-popup {
    display: none;
    background: white;
    position: absolute;
    list-style-type: none;
    -webkit-box-shadow: 0px 7px 28px -5px rgba(0,0,0,0.53);
    -moz-box-shadow: 0px 7px 28px -5px rgba(0,0,0,0.53);
    box-shadow: 0px 7px 28px -5px rgba(0,0,0,0.53);
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
    margin-top: -10px;
}

.fighter-rate-block-weight-categories-popup li {

}
.fighter-rate-block-weight-categories-popup li a {
    font-family: "Proxima Nova Cn Rg";
    font-size: 17px;
}
/* END WEIGHT CATEGORIES FILTER POPUP */

/* CLICKABLE PANEL HUMAN RATE */
div.human-rating-panel {
    height: 22px;
    width: 100px;
    background: url('./../img/star1.png') repeat-x 0 0;
    background-size: 20px 20px;
    margin-right: 5px;
}
div.human-rating-panel  div {
   height: 22px;
   background: url('./../img/star.png') repeat-x 0 0;
   font-size: 1px;
   text-indent: -9999px;
   background-size: 20px 20px;
}
.new_mark {

}
/* END CLICKABLE HUMAN PANEL */

/* SEARCH YANDEX BTN*/
.ya-site-form__submit {
    border: 1px solid rgb(209, 209, 209);
    border-radius: 3px;
    background: #ffffff;
}
/* END YANDEX SEARCH BTN*/

/* MOBILE MENU */
.mobile-menu-container {
    display: none;
}
.mobile-menu-container ul li {
    display: block;
}
/* END MOBILE MENU*/

.country-flag {
    margin-top: 3px;
    margin-right: 3px;
}

#video_dont_work textarea[name='add_reason'] {
    display: none;
}

.rs {
    display: none;
}

@media (min-width: 991px){
    .event-info-list-mobile {
        display: none;
    }
}

@media (max-width: 991px){
    .news-item {
        padding-top: 0px;
    }
    .news-item .news-intro {
        width: 100%;
    }
    .news-item .news-info-portable-device {
        font-size: 11px;
    }
    .news-top-line .news-rate {
        margin-top: 10px;
    }
    .profile-fight-statistic-blocks .noany-block {
        height: 80px;
    }
    .fight-rate-in-header {
        margin-top: 0;
    }
    .fight-rate-in-header table {
        position: relative;
        margin-bottom: 25px;
    }
    .short-fight-header {
        margin-top: -25px;
        margin-bottom: 10px;
    }
    .figter-detail-info table {
        padding-left: 0;
        border-bottom: 1px solid #d0d0d0;
        padding-bottom: 10px;
    }
    .fighters-detail-info {
        border-bottom: 1px solid #d0d0d0;
        padding-bottom: 15px;
        margin-bottom: 30px;
    }
    .fight-rates {
        margin-bottom: 30px;
    }
    h1.fight-info-page {
        font-size: 18px;
    }
}

@media (min-width: 768px) and (max-width: 991px){
    .main-menu ul li {
        margin-left: 35px;
        margin-right: 35px;
    }
    .event-calendar-form .user-rating {
        padding-right: 0;
    }
    .event-info-list-mobile {
        display: block;
    }
    .event-info-table {
        display: none;
    }
    .fighter-rate-list .fighter-rate-link .fighter-rate-list-image {
        margin-right: 2px;
    }
    .figter-detail-info.fight-detail-info-person-page table {
        margin-left: 10px;
        margin-right: -10px;
    }
}

@media (max-width: 767px){
    h1.event-info-page {
       margin-top: 0;
    }
    .header-search-container {
        padding: 11px 0 11px 0px;
    }
    .profile {
        padding-right: 0;
        padding-left: 0;
    }
    .news-item {
        margin-left: -15px;
        margin-right: -15px;
    }
    .best-fights {
        margin-top: 20px;
    }
    .right-column {
        margin-right: -15px;
        margin-left: -30px;
    }
    .right-column .best-fights, .right-column .best-events,
    .right-column .fighter-rate-block, .right-column .waiting-fights-block,
    .right-column .rate-categories{
        padding-left: 0;
        padding-right: 0;
    }
    .footer-copy-text {
        text-align: right;
        padding-left: 0;
        padding-right: 0;
    }
    .figter-detail-info table {
        padding-left: 0;
        padding-top: 10px;
        padding-bottom: 20px;
    }
    .form-horizontal .form-group .mr-0 {
        padding-right: 0;
    }
    .find-fight-page-form input, .find-fight-page-form select {
        max-width: none;
    }
    .find-fight-page-form .button-container {
        margin-top: 10px;
        text-align: right;
    }
    .best-events-list-page .best-event-link-container {
        padding-left: 30px;
        padding-right: 30px;
    }
}

@media (min-width: 580px) and (max-width: 767px) {
    .event-info-table {
        display: block;
    }
    .event-info-list-mobile {
        display: none;
    }
}

@media (min-width: 650px) and (max-width: 767px) {
    .last-battle-item-container {
        width: 50%;
    }
}

@media (min-width: 510px) and (max-width: 649px) {
    .last-battle-item-container {
        width: 50%;
    }
}

@media (max-width: 579px) {
    .event-info-table {
        display: none;
    }
    .event-info-list-mobile {
        display: block;
    }
}

@media (min-width: 320px) and (max-width: 500px) {
    .wins-block, .lose-block {
        width: 50%;
    }
    .noany-block {
        width: 100%;
    }
}

@media (max-width: 490px){
    .logo {
        width: 25%;
    }
    .slogan {
        width: 66.6%;
    }
}

@media (max-width: 340px){
    .news-item .news-intro .news-info .devider, .news-item .news-info-portable-device .devider {
        margin-left: 10px;
        margin-right: 10px;
    }
}










