{% extends 'admin/change_form.html' %}
{% load i18n admin_urls %}

{% block submit_buttons_bottom %}
    {{ block.super }}
    <script type="text/javascript">
        jQuery(document).ready(function(){
            var url = jQuery("#id_alias").val();
            if(url != '')
                jQuery(".grp-fixed-footer ul").append('<li><a href="/event/'+url+'/" target="_blank" class="grp-button">Посмотреть на сайте</a></li>')
        });
    </script>
{% endblock %}