{% extends 'admin/change_form.html' %}
{% load i18n admin_urls %}

{% block submit_buttons_bottom %}
    {{ block.super }}
    <script type="text/javascript">
        $(document).ready(function(){
            var url = $("#id_alias").val();
            if(url != '')
                $(".grp-fixed-footer ul").append('<li><a href="/news/'+url+'" target="_blank" class="grp-button">Посмотреть на сайте</a></li>')
        });
    </script>
{% endblock %}