<div class="rate-categories col-lg-12">
    <div class="right-column-block-header rate-categories-header">КАТЕГОРИИ</div>
    <div class="right-column-block-content">
        <ul>
            {% for sport in sports %}
                {% if sport.alias in request.path %}
                    <li>
                        <a class="rate-category-link active" href="/rate/{{ sport.alias }}/fights/human/">{{ sport.name }}</a>
                        <ul>
                            {% for second_lvl in rates_second_level %}
                                {% if second_lvl.alias in request.path %}
                                    <li>
                                        <a href="/rate/{{ sport.alias }}/{{ second_lvl.alias }}/human/" class="active">{{ second_lvl.name }}</a>
                                        {% for third_lvl in rates_third_level %}
                                            <ul>
                                                {% if third_lvl.alias in request.path %}
                                                    <li><a class="active" href="/rate/{{ sport.alias }}/{{ second_lvl.alias }}/{{ third_lvl.alias }}/">{{ third_lvl.name }}</a></li>
                                                {% else %}
                                                    <li><a href="/rate/{{ sport.alias }}/{{ second_lvl.alias }}/{{ third_lvl.alias }}/">{{ third_lvl.name }}</a></li>
                                                {% endif %}
                                            </ul>
                                        {% endfor %}
                                    </li>
                                {% else %}
                                    <li><a href="/rate/{{ sport.alias }}/{{ second_lvl.alias }}/human/">{{ second_lvl.name }}</a></li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </li>
                {% else %}
                    <li><a class="rate-category-link" href="/rate/{{ sport.alias }}/fights/human/">{{ sport.name }}</a></li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
</div>



        <!-- <ul>
            <li class="active">
                <a href="#" class="rate-category-link active">Бокс</a>
                <ul>
                    <li>
                        <a href="#" class="active">Бои</a>
                        <ul>
                            <li><a href="#" class="active">Зрелищные</a></li>
                            <li><a href="#">Зрелищные</a></li>
                        </ul>
                    </li>
                    <li><a href="#">События</a></li>
                    <li><a href="#">Бойцы</a></li>
                </ul>
            </li>
            <li><a href="#" class="rate-category-link">Кикбоксинг</a></li>
            <li><a href="#" class="rate-category-link">ММА</a></li>
        </ul> -->