{% extends 'main.html' %}

{% load next_val %}

{% block meta_title %}
    {{ title }}
{% endblock %}

{% block social_meta %}
    <meta property="og:title" content="{{ title }}"/>
    <meta property="og:description" content="Все новости в мире ММА, бокса и кикбоксинга"/>
    <meta name="twitter:title" content="{{ title }}">
    <meta name="twitter:description" content="Все новости в мире ММА, бокса и кикбоксинга"/>
{% endblock %}

{% block content %}
    <h1>РЕЙТИНГИ</h1>
    <h2>{{ title }}</h2>
    <div class="best-events-list best-events-list-page">
        {% for event in events %}
            {% include 'calendar/calendar_item.html' with event=event MEDIA_URL=MEDIA_URL sport=sport %}
        {% endfor %}
    </div>
    <div class="clear"></div>
    <!-- <div class="paginator-container">
        <ul class="paginator">
            <li><a href="#"><i class="fas fa-arrow-left"></i></a></li>
            <li><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li>3</li>
            <li>...</li>
            <li><a href="#">99</a></li>
            <li><a href="#"><i class="fas fa-arrow-right"></i></a></li>
        </ul>
    </div> -->
    <div class="clear"></div>
    <div class="proxima-nova-rg ft-14 comment-enter-social-block">
        <div>ВОЙДИТЕ ЧЕРЕЗ СОЦИАЛЬНУЮ СЕТЬ</div>
        <div>
            <a href="#"><img src="img/comment-ok.png"></a>
            <a href="#"><img src="img/comment-vk.png"></a>
            <a href="#"><img src="img/comment-fb.png"></a>
            <a href="#"><img src="img/comment-twitter.png"></a>
            <a href="#"><img src="img/comment-google.png"></a>
            <a href="#"><img src="img/comment-other.png"></a>
        </div>
    </div>
    <div class="comments-block">
        <div class="media">
            <a class="pull-left" href="#">
                <img class="media-object" src="img/comment-avatar.png" alt="...">
            </a>
            <div class="media-body proxima-nova-rg ft-black ft-14">
                <h4 class="media-heading proxima-nova-bl">Антон подсыпанин <span class="proxima-nova-lt ft-12">9 дней назад 21:25</span></h4>
                Отличный боец. Если не брать наших - болею за него, всегда.
                <a href="#">Ответить</a>
            </div>
        </div>
        <div class="media">
            <a class="pull-left" href="#">
                <img class="media-object" src="img/comment-avatar.png" alt="...">
            </a>
            <div class="media-body proxima-nova-rg ft-black ft-14">
                <h4 class="media-heading proxima-nova-bl">Антон подсыпанин <span class="proxima-nova-lt ft-12">9 дней назад 21:25</span></h4>
                Отличный боец. Если не брать наших - болею за него, всегда.
                <a href="#">Ответить</a>
            </div>
        </div>
        <div class="media">
            <a class="pull-left" href="#">
                <img class="media-object" src="img/comment-avatar.png" alt="...">
            </a>
            <div class="media-body proxima-nova-rg ft-black ft-14">
                <h4 class="media-heading proxima-nova-bl">Антон подсыпанин <span class="proxima-nova-lt ft-12">9 дней назад 21:25</span></h4>
                Отличный боец. Если не брать наших - болею за него, всегда.
                Lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum
                <a href="#">Ответить</a>
            </div>
        </div>
        <div class="media">
            <a class="pull-left" href="#">
                <img class="media-object" src="img/comment-avatar.png" alt="...">
            </a>
            <div class="media-body proxima-nova-rg ft-black ft-14">
                <h4 class="media-heading proxima-nova-bl">Антон подсыпанин <span class="proxima-nova-lt ft-12">9 дней назад 21:25</span></h4>
                Отличный боец. Если не брать наших - болею за него, всегда.
                <a href="#">Ответить</a>
            </div>
        </div>
    </div>
{% endblock %}

{% block right_info_block %}
    {% include '_right_rate_block.html' with sports=sports rates_second_level=rates_second_lvl rates_third_level=rates_third_lvl %}
{% endblock %}