<div class="text-center insert-video">
    <a href="#"
       class="proxima-nova-rg"
       data-page-url="{% if request.is_secure %}https{% else %}http{% endif %}://{{ request.META.HTTP_HOST }}{{ request.get_full_path }}"
       data-toggle="modal"
       data-target="#add_video"
       data-object-type="{{ object_type }}"
       data-object-id="{{ object_id }}"
    >ВСТРОИТЬ ВИДЕО</a>
</div>