{% load add_query_params %}
<div class="paginator-container">
    <ul class="paginator">
        {% if page > 1  %}
            <li><a href="{% add_query_params request page=prev_page %}"><i class="fas fa-arrow-left"></i></a></li>
        {% endif %}
        {% for i in range_of_pages %}
            {% if page == i %}
                <li>{{ i }}</li>
            {% else %}
                <li><a href="{% add_query_params request page=i %}">{{ i }}</a></li>
            {% endif %}
        {% endfor %}
        {% if page < count_pages %}
            <li><a href="{% add_query_params request page=next_page %}"><i class="fas fa-arrow-right"></i></a></li>
        {% endif %}
    </ul>
</div>