{% load video_frame %}
<div class="videos-highlights-header" id="{{ id }}">
    <div class="proxima-nova-se ft-16 ft-black fighter-names">
        {{ name|default:"" }}
    </div>
    <a
       href="#"
       class="proxima-nova-rg ft-12 video-not-work-link"
       data-page-url="{% if request.is_secure %}https{% else %}http{% endif %}://{{ request.META.HTTP_HOST }}{{ request.get_full_path }}#{{ id }}"
       data-video-name="{{ name }}"
       data-toggle="modal"
       data-target="#video_dont_work"
    >Видео не работает?</a>
    <div class="clear"></div>
</div>

{% video_frame link %}