<ul class="filter-tabs" data-type="ajax" data-action="{{ action }}" data-block="{{ block }}" class="filter-tabs">
    {% for k, filter_fight in fights %}
        <li {% if k == 0 %} class="active" {% endif %} data-param="{{ filter_fight.alias }}">{{ filter_fight.name }}</li>
    {% endfor %}
</ul>