{% load staticfiles %}
{% load next_val %}
<a class="best-fights-list-link" href="/fight/{{ fight.alias }}/">
    <div class="best-fights-list-header">#{{ fight.row_number }}. {{ fight.fighter_1.name }} <span>vs</span> {{ fight.fighter_2.name }}</div>
    <table class="best-fights-list-properties">
        <tr>
            <td colspan="3"><span class="best-fights-list-prop-name">Событие:</span> {{ fight.event.name }}</td>
        </tr>
        <tr>
            <td><span class="best-fights-list-prop-name">Дата боя:</span> {{ fight.event.event_date }}</td>
            <td class="best-fights-stats">
                <img src="{% static "img/starpng.png" %}"> <span class="active-font">{{ fight.get_star_rate }}</span>&nbsp;
                <img src="{% static "img/stathuman.png" %}"> <span class="active-font">{{ fight.get_human_rate.point }} / </span><span> {{ fight.get_human_rate.count }} чел</span>
            </td>
            {% if fight.main_video %}
                <td align="right"><a href="{{ fight.main_video }}" target="_blank"><img src="{% static 'img/play-buttond.png' %}" alt="" height="20"></a></td>
            {% endif %}
        </tr>
    </table>
</a>