{% load staticfiles %}
{% load next_val %}
{% load rp_fighters_rate %}
<a class="fighter-rate-link" href="/fighter/{{ fighter.alias }}/">
    <img src="{{ MEDIA_URL }}{{ fighter.image_55_55|default:"../static/img/default_images/fighter_default_head_medium.png" }}" alt="" class="fighter-rate-list-image">
    <div class="fighter-rate-content">
        <div class="fighter-rate-name">#{{ star_place }}. {{ fighter.name }}</div>
        <table class="best-fights-list-properties fighter-rate-list-properties">
            <tr>
                <td colspan="3">
                    {{ fighter|get_fighter_statistic_by_sport:sport }}<br />
                    <span class="best-fights-list-prop-name">Страна:</span> {{ fighter.country_of_residence }}
                </td>
                <td class="best-fights-stats">
                    <img src="{% static 'img/starpng.png' %}"> {{ star_rate|default:"0" }}<br/>
                    <img class="human-stat" src="{% static 'img/stathuman.png' %}">{{ fighter|get_human_rate_for_fighter:sport }}
                </td>
            </tr>
        </table>
    </div>
    <div class="clear"></div>
</a>