{% load staticfiles %}
<a class="white-bg waiting-fight-link" href="/fight/{{ fight.alias }}/">
    <div class="waiting-fight-type">{{ fight.kind_of_fight.name }}</div>
    <table class="waiting-fight-props">
        <tr>
            <td>
                <div class="waiting-fights-date">
                    {{ fight.event.event_date|date:"d" }}<span>{{ fight.event.event_date|date:"M" }}</span>
                </div>
                <div class="waiting-fights-year">
                    {{ fight.event.event_date|date:"Y" }}
                </div>
            </td>
            <td>
                <div class="waiting-fight-name">{{ fight.fighter_1.name }} <span>vs</span> {{ fight.fighter_2.name }}</div>
                <table class="waiting-fight-props-detail">
                    <tr>
                        <td>Событие:</td>
                        <td>{{ fight.event.name }}</td>
                    </tr>
                    <tr>
                        <td>Место:</td>
                        <td>{{ fight.event.place }}</td>
                    </tr>
                    <tr>
                        <td>Время:</td>
                        <td>
                            {{ fight.time }}
                            <span class="best-fights-stats"><img src="{% static "img/starpng.png" %}"> {{ fight.get_star_rate }}</span>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</a>