{% load get_ajax_filter_tabs %}
<div class="best-fights col-lg-12">
    <div class="right-column-block-header">ЛУЧШИЕ БОИ</div>
    <div class="right-column-block-content">
        {% get_ajax_filter_tabs '/ajax/get_rp_best_fights/' '.best-fights-list'  %}
        <div class="best-fights-list">
            {% for k,fight in fights %}
                {% include 'right_panel/__best_fight_row.html' with fight=fight k=k %}
            {% endfor %}
        </div>
    </div>
</div>