{% load get_ajax_filter_tabs %}
<div class="best-events col-lg-12">
    <div class="right-column-block-header">ЛУЧШИЕ СОБЫТИЯ</div>
    <div class="right-column-block-content">
        {% get_ajax_filter_tabs '/ajax/get_rp_best_events/' '.best-events-list-right-panel'  %}
        <div class="best-events-list best-events-list-right-panel">
            {% for event in events %}
                {% include 'calendar/calendar_item.html' with event=event MEDIA_URL=MEDIA_URL widget=True sport=sport %}
            {% endfor %}
        </div>
    </div>
</div>