{% load get_ajax_filter_tabs %}
{% load rp_fighters_rate %}
<div class="fighter-rate-block col-lg-12">
    <div class="right-column-block-header">РЕЙТИНГ</div>
    <div class="right-column-block-content">
        {% get_ajax_filter_tabs '/ajax/get_rp_fighter_rate/' '.fighter-rate-list'  %}
        <ul class="fighter-rate-block-gender-filter">
            <li data-param="male">Мужчины<a href="#"><i class="fa fa-angle-down"></i></a></li>
            <li data-param="female">Женщины<a href="#"><i class="fa fa-angle-down"></i></a></li>
        </ul>
        <ul class="fighter-rate-block-weight-categories-popup">
            {% rp_weight_categories %}
        </ul>
        <div class="fighter-rate-block-weight-filter-info">
            <input type="hidden" name="rp_rate_weight_category" value="">
            <span>Независимо от веса</span> <a href="#"><i class="fa fa-times"></i></a>
        </div>
        <div class="fighter-rate-list">
            {% for k,fighter in fighter_rate %}
                {% include 'right_panel/__fighter_rate_row.html' with fighter=fighter.fighter k=k star_rate=fighter.star_score star_place=fighter.row_number sport=sport MEDIA_URL=MEDIA_URL %}
            {% endfor %}
        </div>
    </div>
</div>