{% load get_ajax_filter_tabs %}
<div class="waiting-fights-block col-lg-12">
    <div class="right-column-block-header">ОЖИДАЕМЫЕ БОИ</div>
    <div class="right-column-block-content">
        {% get_ajax_filter_tabs '/ajax/get_rp_waiting_fights/' '.waiting-fights-list'  %}
        <div class="waiting-fights-list">
            {% for fight in fights %}
                {% include 'right_panel/__waiting_fights_row.html' with MEDIA_URL=MEDIA_URL fight=fight %}
            {% endfor %}
        </div>
    </div>
</div>