
    <div class="right-column-block-header rate-categories-header">О ТУРНИРЕ</div>
    <div class="right-column-block-content about-tournament-content-container">
        <div class="best-event-link about-tournament" href="#">
            <img src="{{ MEDIA_URL }}{{ event.image }}" alt="{{ event.name }}" class="best-event-image">
            <div class="best-event-content">
                <table class="best-event-properties">
                    <tbody>
                    <tr>
                        <td class="best-event-list-prop-name">Дата:
                            <span>{{ event.event_date|default:"" }}</span>
                        </td>
                    </tr>
                    <tr>
                        <td class="best-event-list-prop-name">Место:
                            <span>{{ event.place|default:"" }}, {{ event.country|default:"" }}</span>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <table class="best-event-properties">
                    <tbody>
                    <tr>
                        <td class="best-event-list-prop-name">Промоутер:
                            <span>
                                {{ event.promotion.all|join:"," }}
                            </span>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <table class="best-event-properties">
                    <tbody>
                    <tr>
                        <td class="best-event-list-prop-name">Трансляция:
                            <span>{{ event.broadcast|default:"" }}</span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div class="clear"></div>
        </div>
    </div>