{% extends 'main.html' %}
{% load to_br %}
{% load staticfiles %}
{% load last_six_fights_results %}

{% block meta_title %}
    {{ event.name }}
{% endblock %}

{% block social_meta %}
    <meta property="og:title" content="{{ event.name }}"/>
    <meta property="og:description" content="Все новости в мире ММА, бокса и кикбоксинга"/>
    <meta name="twitter:title" content="{{ event.name }}">
    <meta name="twitter:description" content="Все новости в мире ММА, бокса и кикбоксинга"/>
{% endblock %}

{% block content %}
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p-0">
        <div class="col-lg-8 col-md-9 col-sm-12 col-xs-12 p-0">
            <h1 class="fight-info-page event-info-page">{{ event.name }}</h1>
            <div class="proxima-nova-rg ft-13 cl-grey">Список боев, видео, результаты</div>
            <div class="mt-15"></div>
        </div>
        <div class="col-lg-4 col-md-3 hidden-sm hidden-xs p-0 proxima-nova-rg ft-13 ft-black fight-rate-in-header">
            <table>
                <tr>
                    <td>Рейтинг&nbsp;события&nbsp;</td>
                    <td align="right"><img class="starpng" src="{% static 'img/starpng.png' %}" alt=""></td>
                    <td>{{ event.get_star_rate }}</td>
                </tr>
                <tr>
                    <td></td>
                    <td align="right"><img class="stathuman" src="{% static 'img/stathuman.png' %}" alt=""></td>
                    <td>{{ event.get_human_rate.point }} / <span class="proxima-nova-lt ft-10 cl-grey">{{ event.get_human_rate.count }}</span></td>
                </tr>
            </table>
        </div>
    </div>
    <div class="hidden-lg hidden-md col-sm-12 col-xs-12 p-0 proxima-nova-rg ft-13 ft-black fight-rate-in-header">
        <table>
            <tr>
                <td>Рейтинг события&nbsp;</td>
                <td align="right"><img class="starpng" src="{% static 'img/starpng.png' %}" alt=""></td>
                <td>{{ event.get_star_rate }}</td>
            </tr>
            <tr>
                <td></td>
                <td align="right"><img class="stathuman" src="{% static 'img/stathuman.png' %}" alt=""></td>
                <td>{{ event.get_human_rate.point }} / <span class="proxima-nova-lt ft-10 cl-grey">{{ event.get_human_rate.count }}</span></td>
            </tr>
        </table>
    </div>
    <div class="rate-categories rate-categories-in-content hidden-lg hidden-md hidden-sm col-xs-12">
        {% include 'event_details/_right_info_block.html' with event=event %}
    </div>
    <h2 class="event-page-h2">БОИ</h2>
    <div class="show-results-checkbox-event-page">
        <input type="checkbox" name="status_showing_results"> Показать результаты
    </div>
    <div class="event-info-table mt-15">
        <table class="table table-bordered proxima-nova-rg ft-13 ft-black">
            <tr>
                <th>Соперники</th>
                <th class="rs">Раунд и время</th>
                <th class="rs">Метод и судья</th>
                <th>Дополнительно</th>
                <th>Бой</th>
            </tr>
            {% for fight in event.fight_set.all %}
                <tr>
                    <td>
                        <div class="event-info-fighter-info" data-onclick-url="/fighter/{{ fight.fighter_1.alias }}/">
                            <div class="opponent-img-name">
                                <img src="{{ MEDIA_URL }}{{ fight.fighter_1.image_36_36|default:"../static/img/default_images/fighter_default_head_small.png" }}" alt="{{ fight.fighter_1.name }}">
                                <span class="proxima-nova-rg ft-12 fighter-name">{{ fight.fighter_1.name|space_to_br|safe }}</span>
                            </div>
                            <div class="clear"></div>
                            <div class="proxima-nova-lt ft-10 fighter-score">
                                {{ fight.fighter_1_statistic.wins }}-{{ fight.fighter_1_statistic.loose }}-{{ fight.fighter_1_statistic.tie }}
                            </div>
                            <div class="proxima-nova-rg ft-6 ft-white text-legend">
                                {% last_six_fights_results fight.fighter_1 fight %}
                            </div>
                        </div>
                        <span class="event-info-fighter-info-vs">VS</span>
                        <div class="event-info-fighter-info" data-onclick-url="/fighter/{{ fight.fighter_2.alias }}/">
                            <div class="opponent-img-name">
                                <img src="{{ MEDIA_URL }}{{ fight.fighter_2.image_36_36|default:"../static/img/default_images/fighter_default_head_small.png" }}" alt="{{ fight.fighter_2.name }}">
                                <span class="proxima-nova-rg ft-12 fighter-name">{{ fight.fighter_2.name|space_to_br|safe }}</span>
                            </div>
                            <div class="clear"></div>
                            <div class="proxima-nova-lt ft-10 fighter-score">
                                {{ fight.fighter_2_statistic.wins }}-{{ fight.fighter_2_statistic.loose }}-{{ fight.fighter_2_statistic.tie }}
                            </div>
                            <div class="proxima-nova-rg ft-6 ft-white text-legend">
                                {% last_six_fights_results fight.fighter_2 fight %}
                            </div>
                        </div>
                    </td>
                    <td class="rs" align="center">
                        <div class="proxima-nova-rg ft-14 ft-black">{{ fight.finish_round|default:"" }}</div>
                        <div class="proxima-nova-lt ft-12 cl-grey">{{ fight.finish_time|default:"" }}</div>
                    </td>
                    <td class="rs" align="center">
                        <div class="event-fight-info-tbl-rate proxima-nova-lt">
                            <img src="{% static 'img/starpng.png' %}" alt="" height="" class="starpng">&nbsp;{{ fight.get_star_rate }}&nbsp;|&nbsp;
                            <img src="{% static 'img/stathuman.png' %}" alt="" height="" class="starpng">{{ fight.get_human_rate.point }}/
                            <span class="proxima-nova-lt ft-10 cl-grey">{{ fight.get_human_rate.count }} чел.</span>
                        </div>
                        <div class="proxima-nova-rg ft-14 ft-black">
                            {{ fight.finish_str }}
                        </div>
                        <div class="proxima-nova-lt ft-12 cl-grey">{{ fight.winner.name|default:"" }}</div>
                        <div class="proxima-nova-rg ft-12 cl-black">
                            {% if fight.judge %}
                                <span class="cl-grey">Судья:</span> {{ fight.judge|default:"" }}
                            {% endif %}
                        </div>
                    </td>
                    <td align="center">
                        {% for key,fighter_title in fight.get_titles_for_fight %}
                            <a href="/rate/titles/{{ fighter_title.alias|default:'#' }}/">{{ fighter_title.name }}</a>
                            {% if fighter_title.for %}
                                (для {{ fighter_title.for }})
                            {% endif %}
                            <br />
                        {% endfor %}
                        {{ fight.comment }}
                    </td>
                    <td align="center">
                        {% if fight.main_video != None %}
                            <a href="/fight/{{ fight.alias }}/#main-fight-video" target="_blank">
                                <img src="{% static 'img/play-fight-yellow-color.png' %}" alt="">
                                <!--<div class="proxima-nova-lt ft-12 cl-grey">Смотреть видео</div>-->
                            </a>
                        {% else %}
                            <a href="/fight/{{ fight.alias }}/" target="_blank">
                                <img src="{% static 'img/play-fight-yellow.png' %}" alt="">
                            </a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
    <div class="event-info-list-mobile mt-15 proxima-nova-se ft-13 ft-black">
        <table class="table table-bordered event-fight-info-tbl-header">
            <tr>
                <th width="50%">Соперник</th>
                <th width="30%">Информация</th>
                <th>Бой</th>
            </tr>
        </table>
        {% for fight in event.fight_set.all %}
            <table class="table table-bordered event-fight-info-tbl">
                <tr>
                    <td width="50%">
                        <div class="opponent-img-name" data-onclick-url="/fighter/{{ fight.fighter_1.alias }}/">
                            <img class="pull-left" src="{{ MEDIA_URL }}{{ fight.fighter_1.image_36_36|default:"../static/img/default_images/fighter_default_head_small.png" }}" alt="{{ fight.fighter_2.name }}">
                            <span class="fighter-name pull-left">{{ fight.fighter_1.name }}</span>
                        </div>
                        <div class="clear"></div>
                        <div class="proxima-nova-lt ft-10 cl-grey text-right">
                            {{ fight.fighter_1_statistic.wins }}-{{ fight.fighter_1_statistic.loose }}-{{ fight.fighter_1_statistic.tie }}
                        </div>
                        <div class="clear"></div>
                        <div class="proxima-nova-rg ft-6 ft-white text-legend">
                            {% last_six_fights_results fight.fighter_1 fight %}
                        </div>
                        <div class="clear"></div>
                        <div class="horiz-vs-devider">
                            <span>VS</span>
                        </div>
                        <div class="clear"></div>
                        <div class="opponent-img-name" data-onclick-url="/fighter/{{ fight.fighter_2.alias }}/">
                            <img class="pull-left" src="{{ MEDIA_URL }}{{ fight.fighter_2.image_36_36|default:"../static/img/default_images/fighter_default_head_small.png" }}" alt="{{ fight.fighter_2.name }}">
                            <span class="fighter-name pull-left">{{ fight.fighter_2.name }}</span>
                        </div>
                        <div class="clear"></div>
                        <div class="proxima-nova-lt ft-10 cl-grey text-right">
                            {{ fight.fighter_2_statistic.wins }}-{{ fight.fighter_2_statistic.loose }}-{{ fight.fighter_2_statistic.tie }}
                        </div>
                        <div class="clear"></div>
                        <div class="proxima-nova-rg ft-6 ft-white text-legend">
                            {% last_six_fights_results fight.fighter_2 fight %}
                        </div>
                    </td>
                    <td width="30%">
                        <div class="event-fight-info-tbl-rate proxima-nova-lt ft-9">
                            <img src="{% static 'img/starpng.png' %}" alt="" height="11">&nbsp;{{ fight.get_star_rate }}&nbsp;|&nbsp;
                            <img src="{% static 'img/stathuman.png' %}" alt="" height="11">&nbsp;{{ fight.get_human_rate.point }}/
                            <span class="proxima-nova-lt ft-6 cl-grey">{{ fight.get_human_rate.count }} чел.</span>
                        </div>
                        <div class="proxima-nova-rg ft-11 rs">Раунд и время</div>
                        <div class="proxima-nova-rg ft-11 cl-grey rs">{{ fight.finish_round|default:"" }} {% if fight.finish_round != None %} раунд {% endif %} / {{ fight.finish_time|default:"" }}</div>
                        <div class="proxima-nova-rg ft-11 mt-5 rs">Метод</div>
                        <div class="proxima-nova-rg ft-11 cl-grey rs">{{ fight.finish_str }}</div>
                    </td>
                    <td align="center" class="vertical-align-center-important">
                        {% if fight.main_video != None %}
                            <a href="/fight/{{ fight.alias }}/#main-fight-video" target="_blank">
                                <img src="{% static 'img/play-fight-yellow-color.png' %}" alt="">
                                <!--<div class="proxima-nova-lt ft-8 cl-yellow">Посмотреть</div>-->
                            </a>
                        {% else %}
                            <a href="/fight/{{ fight.alias }}/" target="_blank">
                                <img src="{% static 'img/play-fight-yellow.png' %}" alt="">
                            </a>
                        {% endif %}
                    </td>
                </tr>
            </table>
        {% endfor %}
    </div>
    <div class="clear"></div>

    <!-- <div class="proxima-nova-rg ft-13 fight-rates">
        <div class="proxima-nova-se ft-18 cl-red">Этот бой учавствует в рейтингах:</div>
        <div>Занимает 1-ое место в <a href="#">Самые зрелищные бои UFC 2018 года</a></div>
        <div>Учавствует в <a href="#">100 лучших боев UFC за всю историю</a></div>
    </div> -->
    <h2 class="event-page-h2">ВИДЕО (ХАЙЛАЙТЫ)</h2>
    <div class="videos-highlights">
        {% if event.video %}
            {% include 'video_block.html' with id=event.id|slugify|add:'_e' link=event.video name=event.name  %}
        {% endif %}
        {% for fight in event.fight_set.all %}
            {% if fight.main_video %}
                {% include 'video_block.html' with id=fight.id|slugify|add:'_f' link=fight.main_video name=fight.fighter_1.name|add:' - '|add:fight.fighter_2.name  %}
            {% endif %}
        {% endfor %}
        {% for video in videos %}
            {% include 'video_block.html' with id=video.id|slugify|add:'_v' link=video.link name=video.name %}
        {% endfor %}
        {% include 'add_video_btn.html' with object_type="event" object_id=event.id  %}
    </div>
    <div class="comments">
        <h3>КОММЕНТАРИИ</h3>
        <form action="#" class="form-horizontal">
            <div class="col-lg-1 comment-form-avatar"><img src="img/comment-avatar.png" alt=""></div>
            <div class="col-lg-11 comment-form-input-block">
                <input type="text" class="form-control" placeholder="Оставить свой комментарий...">
                <span class="glyphicon glyphicon-paperclip form-control-feedback form-control-attach"></span>
            </div>
        </form>
        <div class="clear"></div>
        <div class="proxima-nova-rg ft-14 comment-enter-social-block">
            <div>ВОЙДИТЕ ЧЕРЕЗ СОЦИАЛЬНУЮ СЕТЬ</div>
            <div>
                <a href="#"><img src="img/comment-ok.png"></a>
                <a href="#"><img src="img/comment-vk.png"></a>
                <a href="#"><img src="img/comment-fb.png"></a>
                <a href="#"><img src="img/comment-twitter.png"></a>
                <a href="#"><img src="img/comment-google.png"></a>
                <a href="#"><img src="img/comment-other.png"></a>
            </div>
        </div>
        <div class="comments-block">
            <div class="media">
                <a class="pull-left" href="#">
                    <img class="media-object" src="img/comment-avatar.png" alt="...">
                </a>
                <div class="media-body proxima-nova-rg ft-black ft-14">
                    <h4 class="media-heading proxima-nova-bl">Антон подсыпанин <span class="proxima-nova-lt ft-12">9 дней назад 21:25</span></h4>
                    Отличный боец. Если не брать наших - болею за него, всегда.
                    <a href="#">Ответить</a>
                </div>
            </div>
            <div class="media">
                <a class="pull-left" href="#">
                    <img class="media-object" src="img/comment-avatar.png" alt="...">
                </a>
                <div class="media-body proxima-nova-rg ft-black ft-14">
                    <h4 class="media-heading proxima-nova-bl">Антон подсыпанин <span class="proxima-nova-lt ft-12">9 дней назад 21:25</span></h4>
                    Отличный боец. Если не брать наших - болею за него, всегда.
                    <a href="#">Ответить</a>
                </div>
            </div>
            <div class="media">
                <a class="pull-left" href="#">
                    <img class="media-object" src="img/comment-avatar.png" alt="...">
                </a>
                <div class="media-body proxima-nova-rg ft-black ft-14">
                    <h4 class="media-heading proxima-nova-bl">Антон подсыпанин <span class="proxima-nova-lt ft-12">9 дней назад 21:25</span></h4>
                    Отличный боец. Если не брать наших - болею за него, всегда.
                    Lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum
                    <a href="#">Ответить</a>
                </div>
            </div>
            <div class="media">
                <a class="pull-left" href="#">
                    <img class="media-object" src="img/comment-avatar.png" alt="...">
                </a>
                <div class="media-body proxima-nova-rg ft-black ft-14">
                    <h4 class="media-heading proxima-nova-bl">Антон подсыпанин <span class="proxima-nova-lt ft-12">9 дней назад 21:25</span></h4>
                    Отличный боец. Если не брать наших - болею за него, всегда.
                    <a href="#">Ответить</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block right_info_block %}
    <div class="rate-categories col-lg-12 hidden-xs">
        {% include 'event_details/_right_info_block.html' with event=event %}
    </div>
{% endblock %}