{% extends 'main.html' %}
{% load staticfiles %}
{% load to_br %}

{% block meta_title %}
    {{ fight.fighter_1.name }} VS. {{ fight.fighter_2.name }}
{% endblock %}

{% block social_meta %}
    <meta property="og:title" content="{{ fight.fighter_1.name }} VS. {{ fight.fighter_2.name }}"/>
    <meta property="og:description" content="Все новости в мире ММА, бокса и кикбоксинга"/>
    <meta name="twitter:title" content="{{ fight.fighter_1.name }} VS. {{ fight.fighter_2.name }}">
    <meta name="twitter:description" content="Все новости в мире ММА, бокса и кикбоксинга"/>
{% endblock %}

{% block content %}
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p-0">
                <div class="col-lg-8 col-md-9 col-sm-12 col-xs-12 p-0">
                    <h1 class="fight-info-page">{{ fight.fighter_1.name }} - {{ fight.fighter_2.name }}</h1>
                </div>
                <div class="col-lg-4 col-md-3 hidden-sm hidden-xs p-0 proxima-nova-rg ft-13 ft-black fight-rate-in-header">
                    <table>
                        <tr>
                            <td align="right">Рейтинг боя&nbsp;&nbsp;</td>
                            <td align="right"><img class="starpng" src="{% static "img/starpng.png" %}" alt=""></td>
                            <td>{{ fight.get_star_rate }}</td>
                        </tr>
                        <tr>
                            <td align="" colspan="2">
                                <div class="human-rating-panel" data-id="{{ fight.pk }}">
                                    <div style="width: {{ fight_human_rate.point_in_percents }}%;"></div>
                                </div>
                            </td>
                            <td><span class="new_mark">{{ fight_human_rate.point }}</span> / <span class="proxima-nova-lt ft-10 cl-grey count_marks">{{ fight_human_rate.count }}</span></td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="hidden-lg hidden-md col-sm-12 col-xs-12 proxima-nova-bl ft-18 ft-black p-0 short-fight-header">
                <span class="table-prop-orange">{{ fight.kind_of_fight.name }}: </span>
            </div>
            <div class="hidden-lg hidden-md col-sm-12 col-xs-12 p-0 proxima-nova-rg ft-13 ft-black fight-rate-in-header">
                <table>
                    <tr>
                        <td>Рейтинг боя&nbsp;&nbsp;</td>
                        <td align="right"><img class="starpng" src="{% static "img/starpng.png" %}" alt=""></td>
                        <td>{{ fight.get_star_rate }}</td>
                    </tr>
                    <tr>
                        <td align="" colspan="2">
                            <div class="human-rating-panel" data-id="{{ fight.pk }}">
                                    <div style="width: {{ fight_human_rate.point_in_percents }}%;"></div>
                            </div>
                        </td>
                        <td>{{ fight_human_rate.point }} / <span class="proxima-nova-lt ft-10 cl-grey">{{ fight_human_rate.count }}</span></td>
                    </tr>
                </table>
            </div>
            <div class="hidden-lg hidden-md col-sm-12 col-xs-12 p-0 proxima-nova-rg ft-11">
                <div class="col-sm-5 col-xs-5 p-0">{{ fight.fighter_1.name }}</div>
                <div class="col-sm-2 col-xs-2 p-0"></div>
                <div class="col-sm-5 col-xs-5 p-0">{{ fight.fighter_2.name }}</div>
            </div>
            <div class="figter-detail-info fight-detail-info">
                <img class="col-lg-3 col-md-3 col-sm-5 col-xs-5" src="{{ MEDIA_URL }}{{ fight.fighter_1.image_195_300|default:"../static/img/default_images/fighter_default.png" }}" alt="">
                <table class="col-lg-6 col-md-6 hidden-sm hidden-xs">
                    <tr>
                        <td colspan="2" align="center" class="fight-table-header hidden-sm hidden-xs">
                            <span class="table-prop-orange">{{ fight.kind_of_fight.name }}: </span>Кормьер-Льюис
                        </td>
                    </tr>
                    {% if fight.event %}
                        <tr>
                            <th>Дата:</th>
                            <td>{{ fight.event.event_date|default:"" }}</td>
                        </tr>
                        <tr>
                            <th>Место проведения:</th>
                            <td><img class="place-flag" src="{{ MEDIA_URL }}{{ fight.event.country.flag }}">{{ fight.event.country.name }}, {{ fight.event.place }}</td>
                        </tr>
                    {% endif %}
                    <tr>
                        <th>Весовая категория:</th>
                        <td>{{ fight.weight_category.name }}</td>
                    </tr>
                    <tr>
                        <th>Титулы:</th>
                        <td>
                            {% for key,fighter_title in fight.get_titles_for_fight %}
                                <a href="#">{{ fighter_title.name }}</a>
                                {% if fighter_title.for %}
                                    (для {{ fighter_title.for }})
                                {% endif %}
                                <br />
                            {% endfor %}
                        </td>
                    </tr>
                    {% if fight.winner or fight.tie %}
                    <tr>
                        <th colspan="2" align="left" class="fight-result">
                            <div class="proxima-nova-rg ft-14 ft-black result-spoiler-btn">РЕЗУЛЬТАТ</div>
                            <div class="result-spoiler">
                                <div class="proxima-nova-rg ft-14 ft-black table-prop-orange">
                                    {% if fight.winner %}
                                        {{ fight.winner.name }} выйграл 
                                    {% elif fight.tie %}
                                        НИЧЬЯ
                                    {% endif %}
                                </div>    
                                {{ fight.kind_of_finish.name }}
                            </div>
                        </th>
                    </tr>
                    {% endif %}
                </table>
                <div class="hidden-lg hidden-md col-sm-2 col-xs-2 text-center proxima-nova-bl ft-12 table-prop-orange fight-vs-ico">VS</div>
                <img class="col-lg-3 col-md-3 col-sm-5 col-xs-5" src="{{ MEDIA_URL }}{{ fight.fighter_2.image_195_300|default:"../static/img/default_images/fighter_default.png" }}" alt="">
                <table class="hidden-lg hidden-md col-sm-12 col-xs-12 mt-15">
                    <tr>
                        <th class="col-sm-5 col-xs-5 p-0">Дата:</th>
                        <td>{{ fight.event.event_date }}</td>
                    </tr>
                    <tr>
                        <th>Место проведения:</th>
                        <td><img src="{{ MEDIA_URL }}{{ fight.country.flag }}"><br />
                            {{ fight.country.name }}, {{ fight.place }}</td>
                    </tr>
                    <tr>
                        <th>Весовая категория:</th>
                        <td>{{ fight.weight_category.name }}</td>
                    </tr>
                    <tr>
                        <th>Титулы:</th>
                        <td>
                            {% for key,fighter_title in fight.get_titles_for_fight %}
                                <a href="/rate/titles/{{ fighter_title.alias|default:'#' }}/">{{ fighter_title.name }}</a> 
                                {% if fighter_title.for %}
                                    (для {{ fighter_title.for }})
                                {% endif %}
                                <br />
                            {% endfor %}
                        </td>
                    </tr>
                    <tr>
                        <th colspan="2" align="left" class="fight-result">
                            <div class="proxima-nova-rg ft-14 ft-black">РЕЗУЛЬТАТ (спойлер)</div>
                            <div class="proxima-nova-rg ft-14 ft-black table-prop-orange">
                                {% if fight.winner %}
                                    {{ fight.winner.name }} выйграл 
                                {% elif fight.tie %}
                                    НИЧЬЯ
                                {% endif %}
                            </div>
                            {{ fight.kind_of_finish.name }}
                        </th>
                    </tr>
                </table>
            </div>
            <div class="clear"></div>
            {% include 'fight_details/fighters_details.html' with fight=fight %}
            {% if last_six_fights_fighter_1.count != 0 or last_six_fights_fighter_2.count != 0 %}
            <div class="last-six-fights hidden-sm hidden-xs">
                <h3 class="text-center">Последние 6 боев</h3>
                {% ifnotequal last_six_fights_fighter_1.count 0 %}
                    <div class="col-lg-6 col-md-6 left-tbl">
                        <table class="table table-bordered proxima-nova-rg ft-13 ft-black">
                            <tr>
                                <th>Соперник</th>
                                <th>Событие и дата</th>
                                <th>Результат</th>
                            </tr>
                            {% for last_fight in last_six_fights_fighter_1 %}
                                {% if last_fight.fighter_1 == fight.fighter_1 %}
                                    {% include 'fight_details/last_fight_table_row.html' with fight=last_fight fighter=last_fight.fighter_2 %}
                                {% else %}
                                    {% include 'fight_details/last_fight_table_row.html' with fight=last_fight fighter=last_fight.fighter_1 %}
                                {% endif %}
                            {% endfor %}
                        </table>
                    </div>
                {% endifnotequal %}
                <div class="col-lg-6 col-md-6 right-tbl">
                    <table class="table table-bordered proxima-nova-rg ft-13 ft-black">
                        <tr>
                            <th>Соперник</th>
                            <th>Событие и дата</th>
                            <th>Результат</th>
                        </tr>
                        {% for last_fight in last_six_fights_fighter_2 %}
                            {% if last_fight.fighter_2 == fight.fighter_2 %}
                                {% include 'fight_details/last_fight_table_row.html' with fight=last_fight fighter=last_fight.fighter_1  %}
                            {% else %}
                                {% include 'fight_details/last_fight_table_row.html' with fight=last_fight fighter=last_fight.fighter_2  %}
                            {% endif %}
                        {% endfor %}
                    </table>
                </div>
                <div class="clear"></div>
            </div>
            {% endif %}
            <!--<div class="proxima-nova-rg ft-13 fight-rates">
                <div class="proxima-nova-se ft-18 cl-red">Этот бой учавствует в рейтингах:</div>
                <div>Занимает 1-ое место в <a href="#">Самые зрелищные бои UFC 2018 года</a></div>
                <div>Учавствует в <a href="#">100 лучших боев UFC за всю историю</a></div>
            </div>-->
            <div id="main-fight-video" class="videos-highlights">
                {% if fight.main_video %}
                    {% include 'video_block.html' with id=fight.id|slugify|add:'_f' link=fight.main_video name=fight.fighter_1.name|add:' - '|add:fight.fighter_2.name  %}
                {% endif %}
                {% for video in videos %}
                    {% include 'video_block.html' with id=video.id|slugify|add:'_v' link=video.link name=video.name %}
                {% endfor %}
                {% include 'add_video_btn.html' with object_type="fight" object_id=fight.id %}
            </div>
            <table>
                <tr>
                    <td>
                        <div class="human-rating-panel" data-id="{{ fight.pk }}">
                            <div style="width: {{ fight_human_rate.point_in_percents }}%;"></div>
                        </div>
                    </td>
                    <td><span class="proxima-nova-rg ft-13 ft-black new_mark">{{ fight_human_rate.point }}</span> / <span class="proxima-nova-lt ft-10 cl-grey count_marks">{{ fight_human_rate.count }}</span></td>
                </tr>
            </table>
            <div class="comments">
                <h3>КОММЕНТАРИИ</h3>
                <form action="#" class="form-horizontal">
                    <div class="col-lg-1 comment-form-avatar"><img src="img/comment-avatar.png" alt=""></div>
                    <div class="col-lg-11 comment-form-input-block">
                        <input type="text" class="form-control" placeholder="Оставить свой комментарий...">
                        <span class="glyphicon glyphicon-paperclip form-control-feedback form-control-attach"></span>
                    </div>
                </form>
                <div class="clear"></div>
                <div class="proxima-nova-rg ft-14 comment-enter-social-block">
                    <div>ВОЙДИТЕ ЧЕРЕЗ СОЦИАЛЬНУЮ СЕТЬ</div>
                    <div>
                        <a href="#"><img src="img/comment-ok.png"></a>
                        <a href="#"><img src="img/comment-vk.png"></a>
                        <a href="#"><img src="img/comment-fb.png"></a>
                        <a href="#"><img src="img/comment-twitter.png"></a>
                        <a href="#"><img src="img/comment-google.png"></a>
                        <a href="#"><img src="img/comment-other.png"></a>
                    </div>
                </div>
                <div class="comments-block">
                    <div class="media">
                        <a class="pull-left" href="#">
                            <img class="media-object" src="img/comment-avatar.png" alt="...">
                        </a>
                        <div class="media-body proxima-nova-rg ft-black ft-14">
                            <h4 class="media-heading proxima-nova-bl">Антон подсыпанин <span class="proxima-nova-lt ft-12">9 дней назад 21:25</span></h4>
                            Отличный боец. Если не брать наших - болею за него, всегда.
                            <a href="#">Ответить</a>
                        </div>
                    </div>
                    <div class="media">
                        <a class="pull-left" href="#">
                            <img class="media-object" src="img/comment-avatar.png" alt="...">
                        </a>
                        <div class="media-body proxima-nova-rg ft-black ft-14">
                            <h4 class="media-heading proxima-nova-bl">Антон подсыпанин <span class="proxima-nova-lt ft-12">9 дней назад 21:25</span></h4>
                            Отличный боец. Если не брать наших - болею за него, всегда.
                            <a href="#">Ответить</a>
                        </div>
                    </div>
                    <div class="media">
                        <a class="pull-left" href="#">
                            <img class="media-object" src="img/comment-avatar.png" alt="...">
                        </a>
                        <div class="media-body proxima-nova-rg ft-black ft-14">
                            <h4 class="media-heading proxima-nova-bl">Антон подсыпанин <span class="proxima-nova-lt ft-12">9 дней назад 21:25</span></h4>
                            Отличный боец. Если не брать наших - болею за него, всегда.
                            Lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum
                            <a href="#">Ответить</a>
                        </div>
                    </div>
                    <div class="media">
                        <a class="pull-left" href="#">
                            <img class="media-object" src="img/comment-avatar.png" alt="...">
                        </a>
                        <div class="media-body proxima-nova-rg ft-black ft-14">
                            <h4 class="media-heading proxima-nova-bl">Антон подсыпанин <span class="proxima-nova-lt ft-12">9 дней назад 21:25</span></h4>
                            Отличный боец. Если не брать наших - болею за него, всегда.
                            <a href="#">Ответить</a>
                        </div>
                    </div>
                </div>
            </div>
{% endblock %}

{% block scripts %}
    {% if mark_exist == False %}
        {% if DEBUG %}
            <script type="text/javascript" src="{% static 'js/human_rate.js' %}?v={% now "U" %}"></script>
        {% else %}
            <script type="text/javascript" src="{% static 'js/human_rate.min.js' %}"></script>
        {% endif %}
    {% endif %}
{% endblock %}