{% load staticfiles %}
<div class="fighters-detail-info">
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 proxima-nova-rg ft-14 ft-black text-right left-fighter-info pl-0">
        <div class="hidden-sm hidden-xs"><a href="/fighter/{{ fight.fighter_1.alias }}/">{{ fight.fighter_1.name }}</a></div>
        <div>
            {% if fight.fighter_1.country_of_birth is not None %}
                <img src="{{ MEDIA_URL }}{{ fight.fighter_1.country_of_birth.flag }}"> {{ fight.fighter_1.country_of_birth.name }}
            {% else %}
                &nbsp;
            {% endif %}
        </div>
        <div>{{ fight.fighter_1_age }}</div>
        <div>{{ fight.fighter_1_statistic.wins }}-{{ fight.fighter_1_statistic.loose }}-{{ fight.fighter_1_statistic.tie }}</div>
        {% if fight.fighter_1_weight_before_fight is not None %}
            <div>{{ fight.fighter_1_weight_before_fight }} кг</div>
        {% else %}
            &nbsp;
        {% endif %}
        <div>{{ fight.fighter_1.stand.name|default:"&nbsp;" }}</div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 proxima-nova-rg ft-14 text-center fighters-info-params p-0">
        <div class="horiz-line hidden-sm hidden-xs"></div>
        <div>Национальность</div>
        <div>Возраст на дату боя</div>
        <div>Проф рекорды до боя</div>
        <div>Вес перед боем</div>
        <div>Стойка</div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 proxima-nova-rg ft-14 ft-black text-left right-fighter-info pr-0">
        <div class="hidden-sm hidden-xs"><a href="/fighter/{{ fight.fighter_2.alias }}/">{{ fight.fighter_2.name }}</a></div>
        <div>
            {% if fight.fighter_2.country_of_birth is not None %}
                <img src="{{ MEDIA_URL }}{{ fight.fighter_2.country_of_birth.flag }}"> {{ fight.fighter_2.country_of_birth.name }}
            {% else %}
                &nbsp;
            {% endif %}
        </div>
        <div>{{ fight.fighter_2_age  }}</div>
        <div>{{ fight.fighter_2_statistic.wins }}-{{ fight.fighter_2_statistic.loose }}-{{ fight.fighter_2_statistic.tie }}</div>
        <div>
            {% if fight.fighter_2_weight_before_fight is not None %}
                {{ fight.fighter_2_weight_before_fight }} кг
            {% else %}
                &nbsp;
            {% endif %}
        </div>
        <div>{{ fight.fighter_2.stand.name|default:"&nbsp;" }}</div>
    </div>
    <div class="clear"></div>
</div>