{% load staticfiles %}
{% load to_br %}
{% load last_six_fights_results %}

    <tr
        data-link="{% if fight.main_video %}/fight/{{ fight.alias }}/#main-fight-video{% else %}/fight/{{ fight.alias }}/{% endif %}"
        data-icon="{% if fight.main_video %}{% static "/img/play-fight-yellow-color.png" %}{% else %}{% static "/img/play-fight-yellow.png" %}{% endif %}"
    >
    <td valign="top" nowrap data-onclick-url="/fighter/{{ fighter.alias }}/">
        <img src="{{ MEDIA_URL }}{{ fighter.image_36_36|default:"../static/img/default_images/fighter_default_head_small.png" }}" alt="" style="float: left">
        <div style="float: left; margin-top: -2px;margin-left: 2px">
            <div class="ft-12" style="line-height: 14px;">{{ fighter.name|space_to_br|safe }}</div>
        </div>
        <div class="clear"></div>
        <div class="proxima-nova-lt ft-10 text-right" style="margin-top: -10px">
            {% if fighter == fight.fighter_1 %}
                {{ fight.fighter_1_statistic.wins }}-{{ fight.fighter_1_statistic.loose }}-{{ fight.fighter_1_statistic.tie }}
            {% else %}
                {{ fight.fighter_2_statistic.wins }}-{{ fight.fighter_2_statistic.loose }}-{{ fight.fighter_2_statistic.tie }}
            {% endif %}
        </div>
        <div class="proxima-nova-rg ft-6 ft-white text-legend">
            {% last_six_fights_results fighter fight %}
        </div>
    </td>
    <td nowrap data-onclick-url="/event/{{ fight.event.alias }}/">
        <div>{{ fight.event.name }}</div>
        <div class="cl-grey">{{ fight.event.event_date }}</div>
    </td>
    <td class="hidden-md hidden-sm hidden-xs vertical-align-center-important" width="120" data-onclick-url="/fight/{{ fight.alias }}/">
            {% if fight.winner == fighter %}
                <div class="proxima-nova-bl cl-green">ВЫИГРАЛ</div>
            {% elif fight.tie == True %}
                <div class="proxima-nova-bl cl-grey">НИЧЬЯ</div>
            {% elif fight.winner != None and fight.winner != fighter %}
                <div class="proxima-nova-bl cl-red">ПРОИГРАЛ</div>
            {% else %}
                <div class="proxima-nova-bl">БЕЗ РЕЗУЛЬТАТА</div>
            {% endif %}

            {% ifnotequal fight.kind_of_finish None %}
                <div class="cl-grey">{{ fight.kind_of_finish.name }}</div>
            {% endifnotequal %}
    </td>
    <td class="hidden-lg text-center vertical-align-center-important" width="50" data-onclick-url="/fight/{{ fight.alias }}/">
            {% if fight.winner == fighter %}
                <div class="proxima-nova-bl cl-green">В</div>
            {% elif fight.tie == True %}
                <div class="proxima-nova-bl cl-grey">НЧ</div>
            {% elif fight.winner != None and fight.winner != fighter %}
                <div class="proxima-nova-bl cl-red">П</div>
            {% else %}
                <div class="proxima-nova-bl">Б/Р</div>
            {% endif %}
    </td>
</tr>