{% extends 'main.html' %}

{% load times %}
{% load staticfiles %}

{% block meta_title %}
    {{ page.name }}
{% endblock %}

{% block social_meta %}
    <meta property="og:title" content="{{ page.name }}"/>
    <meta property="og:description" content="Все новости в мире ММА, бокса и кикбоксинга"/>
    <meta name="twitter:title" content="{{ page.name }}">
    <meta name="twitter:description" content="Все новости в мире ММА, бокса и кикбоксинга"/>
{% endblock %}

{% block content %}
    <h1 class="news-page-header">{{ page.name }}</h1>
    {{ page.body|safe }}
    <!--
    <img src="img/news_image.png" alt="" class="img-responsive">
    <div class="news-quote">
        «Мое мнение: считаю, что денег мало они дают Хабибу, потому что до этого они давали Конору
        в три раза больше. А теперь мы хотим, чтобы нам давали в пять раз больше, чем Конору.
        Мы в доминирующем плане уничтожили, задушили, заставили его сдаться. Это первое»,
        - цитирует Абдулманапа Нурмагомедова РИА Новости.

        «Второе: какой смысл Конору, не проведя два или три боя, выходить на бой с Хабибом?
        Если Конор считает нужным, пусть покажет, что он готов, хотя бы против таких бойцов,
        как Ислам Махачев, Тони Фергюсон»
    </div>
    <div class="news-text">
        Также Нурмагомедов-старший выразил уверенность, что поединок по правилам бокса между его сыном
        и Флойдом Мэйвезером действительно может состояться.
    </div>
    <div class="news-quote">
        «Разнесем! Никаких сомнений – разнесем! Локтями, коленями, чем угодно! Конечно, если поединок пройдет по правилам бокса – надо сказать, что Хабибу будет противостоять великий мастер. Но в нашем углу будет очень серьезный тренерский состав. Возьмем полгода на подготовку и подойдем к бою во всеоружии»

        «Искренне верю, что поединок Хабиба с Флойдом может состояться. Встретятся два спортсмена, которые в своей карьере еще ни разу не проигрывали. Пора выяснить, кто сильнее»
    </div>
    <div class="news-text">
        Напомним, что 6 октября на UFC 229 в Лас-Вегасе Хабиб Нурмагомедов провел успешную защиту чемпионского пояса, финишировав Конора МакГрегора сабмишном в четвертом раунде.
    </div>
    -->
    <!--<div class="news-share-block">
        <div>Поделиться</div>
        <div>
            <a href="#"><img src="{% static "img/comment-ok.png" %}"></a>
            <a href="#"><img src="{% static "img/comment-vk.png" %}"></a>
            <a href="#"><img src="{% static "img/comment-fb.png" %}"></a>
            <a href="#"><img src="{% static "img/comment-twitter.png" %}"></a>
            <a href="#"><img src="{% static "img/comment-google.png" %}"></a>
            <a href="#"><img src="{% static "img/comment-other.png" %}"></a>
        </div>
    </div> -->
{% endblock %}