{% extends "main.html" %}

{% block meta_title %}
    Ошибка 404
{% endblock %}

{% block social_meta %}
    <meta property="og:title" content="Ошибка 404"/>
    <meta property="og:description" content="Все новости в мире ММА, бокса и кикбоксинга"/>
    <meta name="twitter:title" content="Ошибка 404">
    <meta name="twitter:description" content="Все новости в мире ММА, бокса и кикбоксинга"/>
{% endblock %}

{% block content %}
    <h1>Ошибка 404</h1>
    <p class="proxima-nova-rg ft-14 cl-grey">К сожалению страница не найдена на сайте</p>
{% endblock %}