<!-- Modal -->
<div class="modal fade" id="add_video" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Добавить видео на сайт</h4>
            </div>
            <div class="modal-body">
                <form method="post">
                    <input type="hidden" class="form-control" name="url">
                    <input type="hidden" class="form-control" name="object_type">
                    <input type="hidden" class="form-control" name="object_id">
                    <div class="form-group">
                        <label>Название видео</label>
                        <input type="text" class="form-control" placeholder="Писать не обязательно" name="name">
                    </div>
                    <a href="/how-to-add/">Как встраивать видео с разных видеохостингов</a>
                    <div class="form-group">
                        <label class="control-label" for="add_video__link">Ссылка (iframe)</label>
                        <textarea id="add_video__link" class="form-control" placeholder='<iframe width="560" height="315" src="https://www.youtube.com/embed/BmL8iaLMnQ0"></iframe>' name="link"></textarea>
                        <p class="help-block ft-10"></p>
                    </div>
                    <div class="form-group">
                        <label>Кто добавил</label>
                        <input type="text" class="form-control" placeholder="Писать не обязательно" name="owner">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                <button type="button" class="btn btn-primary add_video_btn">Отправить</button>
            </div>
        </div>
    </div>
</div>