<ul class="footer-menu">
    <li><a href="/fights/">Бои</a></li>
    <li><a href="/rate/">Рейтинги</a></li>
    <li><a href="/news/">Новости</a></li>
    <li><a href="/calendar/">Календарь</a></li>
</ul>