<div class="main-menu hidden-xs">
    <div class="container center-block text-center">
        <ul>
            {% if request.path == '/' %}
                <li class="active">ГЛАВНАЯ</li>
            {% else %}
                <li><a href="/">ГЛАВНАЯ</a></li>
            {% endif %}
            {% if '/fights/' in request.path and '/rate/' not in request.path %}
                <li class="active">БОИ</li>
            {% else %}
                <li><a href="/fights/">БОИ</a></li>
            {% endif %}
            {% if '/rate/' in request.path %}
                <li class="active">РЕЙТИНГИ</li>
            {% else %}
                <li><a href="/rate/">РЕЙТИНГИ</a></li>
            {% endif %}
            {% if '/news/' in request.path %}
                <li class="active">НОВОСТИ</li>
            {% else %}
                <li><a href="/news/">НОВОСТИ</a></li>
            {% endif %}
            {% if '/calendar/' in request.path %}
                <li class="active">КАЛЕНДАРЬ</li>
            {% else %}
                <li><a href="/calendar/">КАЛЕНДАРЬ</a></li>
            {% endif %}
        </ul>
    </div>
</div>