<!-- Modal -->
<div class="modal fade" id="video_dont_work" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Вы уверены, что видео не работает?</h4>
            </div>
            <div class="modal-body">
                <form method="post">
                    <input type="hidden" class="form-control" name="url">
                    <input type="hidden" class="form-control" name="name">
                    <div class="form-group">
                        <label for="dont_work_reason">Что именно не работает?</label>
                        <select class="form-control" id="dont_work_reason" name="reason">
                            <option value="Не отображается">Не отображается</option>
                            <option value="Не соответствует странице">Не соответствует странице</option>
                            <option value="Другое">Другое</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" placeholder="Писать не обязательно" name="add_reason"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                <button type="button" class="btn btn-primary video_dont_work_send_btn">Отправить</button>
            </div>
        </div>
    </div>
</div>