{% load staticfiles %}
{% load rp_fighters_rate %}
{% load rp_waiting_fights %}
{% load get_footer_textpages_menu %}
{% load rp_best_events %}
{% load rb_best_fights %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>{% block meta_title %} {% endblock %} — SITGAM.COM</title>
    <!-- SOCIAL META BLOCK -->
    <meta property="og:image" content="{% if request.is_secure %}https{% else %}http{% endif %}://{{ request.get_host }}{% static "img/logo.png" %}" />
    <meta property="og:url" content="{% if request.is_secure %}https{% else %}http{% endif %}://{{ request.get_host }}{{ request.path }}"/>
    <meta property="og:site_name" content="SITGAM.COM"/>
    <meta name="twitter:site" content="SITGAM.COM"/>
    {% block social_meta %}

    {% endblock %}
    <!-- END SOCIAL META BLOCK -->
    <link rel="stylesheet" href="{% static "bootstrap/css/bootstrap.min.css" %}">
    <link rel="stylesheet" href=" {% static "bootstrap/css/bootstrap-theme.min.css" %}">
    {% if DEBUG %}
        <link rel="stylesheet" href="{% static "css/normalize.css" %}">
        <link rel="stylesheet" href="{% static "css/fonts/proxima/fonts.css" %}">
    {% else %}
        <link rel="stylesheet" href="{% static "css/normalize.min.css" %}">
        <link rel="stylesheet" href="{% static "css/fonts/proxima/fonts.min.css" %}">
    {% endif %}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/10.6.1/css/bootstrap-slider.min.css">
    {% block styles %} {% endblock %}
    {% if DEBUG %}
        <link rel="stylesheet" href="{% static "css/custom.css" %}?v={% now "U" %}">
    {% else %}
        <link rel="stylesheet" href="{% static "css/custom.min.css" %}">
    {% endif %}
    <!-- 3.3.1 -->
    <script
            src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
    <script src="{% static "js/jquery.cookie.min.js" %}"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/10.6.1/bootstrap-slider.min.js"></script>
    <script type="text/javascript" src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>
    {% if DEBUG %}
        <script type="text/javascript" src="{% static "js/custom.js" %}?v={% now "U" %}"></script>
    {% else %}
        <script type="text/javascript" src="{% static "js/custom.min.js" %}"></script>
    {% endif %}
    {% block scripts %} {% endblock %}
</head>
<body>
<div class="header-row">
    <div class="container center-block">
        <div class="col-lg-1 col-md-1 col-sm-2 col-xs-2 logo"><a href="/">SITGAM</a></div>
        <div class="col-lg-4 col-md-3 col-sm-3 col-xs-9 slogan">
            Все новости в мире ММА,<br >
            бокса и кикбоксинга
        </div>
        <div class="col-lg-4 col-md-5 col-sm-4 hidden-xs header-search-container">
            <!--<form action="">
                <input type="text" name="" placeholder="Введите событие, Имя бойца, бой...">
                <button><img src="{% static "img/magnifying-glass.png" %}"></button>
            </form>-->
            {% include '__search_form.html' %}
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 hidden-xs header-social-block">
            <!--<div>Поделиться:</div>
            <ul>
                <li><i class="fab fa-vk"></i></li>
                <li><i class="fab fa-twitter"></i></li>
                <li><i class="fab fa-instagram"></i></li>
            </ul>
            <div>...</div> -->
            <script type="text/javascript">(function() {
              if (window.pluso)if (typeof window.pluso.start == "function") return;
              if (window.ifpluso==undefined) { window.ifpluso = 1;
                var d = document, s = d.createElement('script'), g = 'getElementsByTagName';
                s.type = 'text/javascript'; s.charset='UTF-8'; s.async = true;
                s.src = ('https:' == window.location.protocol ? 'https' : 'http')  + '://share.pluso.ru/pluso-like.js';
                var h=d[g]('body')[0];
                h.appendChild(s);
              }})();</script>
            <div class="pluso" data-background="transparent" data-options="small,square,line,horizontal,nocounter,theme=04" data-services="vkontakte,facebook,twitter"></div>
        </div>
        <!--<div class="col-lg-1 col-md-1 sol-sm-1 col-xs-1 text-right profile">
            <img src="img/profile.png" alt="">
        </div> -->
    </div>
</div>

{% include '_main_menu.html' %}
<div class="main-menu hidden-lg hidden-md hidden-sm">
    <div class="container center-block">
        <div class="col-xs-2 header-search-container header-search-container-mobile">
            <form action="">
                <input class="hidden-xs" type="text" name="" placeholder="Введите событие, Имя бойца, бой...">
                <button><i class="fas fa-search"></i></button>
            </form>
        </div>
        <div class="col-xs-8 header-social-block">
            <script type="text/javascript">(function() {
              if (window.pluso)if (typeof window.pluso.start == "function") return;
              if (window.ifpluso==undefined) { window.ifpluso = 1;
                var d = document, s = d.createElement('script'), g = 'getElementsByTagName';
                s.type = 'text/javascript'; s.charset='UTF-8'; s.async = true;
                s.src = ('https:' == window.location.protocol ? 'https' : 'http')  + '://share.pluso.ru/pluso-like.js';
                var h=d[g]('body')[0];
                h.appendChild(s);
              }})();</script>
            <div class="pluso" data-background="transparent" data-options="small,square,line,horizontal,nocounter,theme=04" data-services="vkontakte,facebook,twitter"></div>
            <div class="mobile-search-form" style="display: none;">
                {% include '__search_form.html' %}
            </div>
        </div>
        <div class="col-xs-2 mobile-menu-icon"><a href="#"><img src="{% static "img/mobilemenu.png" %}"></a></div>
    </div>
    <div class="mobile-menu-container">
        <ul>
            <li><a href="/">ГЛАВНАЯ</a></li>
            <li><a href="/fights/">БОИ</a></li>
            <li><a href="/rate/">РЕЙТИНГИ</a></li>
            <li><a href="/news/">НОВОСТИ</a></li>
            <li><a href="/calendar/">КАЛЕНДАРЬ</a></li>
        </ul>
    </div>
</div>

<div class="content">
    <div class="container center-block">
        <div class="col-lg-8 col-md-7 col-sm-6 left-column">
            {% block content %}
            {% endblock %}
        </div>
        <div class="col-lg-4 col-md-5 col-sm-6 right-column">
            {% block right_info_block %}
            {% endblock %}
            {% rp_best_fights %}
            {% rp_best_events %}
            {% rp_fighter_rate %}
            {% rp_waiting_fights %}
        </div>
    </div>
</div>

<div class="footer">
    <div class="container center-block">
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
            <div class="footer-menu-header">О сайте</div>
            {% get_footer_textpages_menu %}
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
            <div class="footer-menu-header">Навигация</div>
            {% include '_bottom_menu.html' %}
        </div>
        <div class="clear hidden-lg hidden-md hidden-sm"></div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
            <div class="footer-menu-header">Наши соцсети</div>
            <ul class="footer-menu">
                <li><a href="#">Вконтакте</a></li>
                <li><a href="#">Одноклассники</a></li>
                <li><a href="#">Twitter</a></li>
                <li><a href="#">Facebook</a></li>
            </ul>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 footer-copy-text">
            <div class="footer-logo">SITGAM</div>
            <div class="copyright-text">
                Все права на материалы, размещенные на сайте, защищены в соответствии с российским и международным законодальством
            </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center footer-copy">&copy; Sitgam.com {% now "Y" %}</div>
    </div>
</div>
<div class="text-legend-popup">
    <img src="" alt="">
    <div class="text-legend-popup-description">
        Марио Эрнан Гарай<br />
        Сдача (рычаг локтя)<br />
        3 раунд (3:44)<br />
    </div>
</div>
{% include '_video_dont_work.html' %}
{% include '_add_video.html' %}
</body>
</html>