{% extends 'main.html' %}

{% load times %}

{% block meta_title %}
    Главная
{% endblock %}

{% block social_meta %}
    <meta property="og:title" content="Главная"/>
    <meta property="og:description" content="Все новости в мире ММА, бокса и кикбоксинга"/>
    <meta name="twitter:title" content="Главная">
    <meta name="twitter:description" content="Все новости в мире ММА, бокса и кикбоксинга"/>
{% endblock %}

{% block content %}
    <h1>ПОСЛЕДНИЕ БОИ</h1>
    <div class="last-battle-block">
        <ul data-type="ajax" data-action="/ajax/get_last_fights/" data-block=".last-battle-items" class="filter-tabs">
                <li class="active" data-param="all">Все</li>
            {% for filter_fight in fight_list %}
                <li data-param="{{ filter_fight.alias }}">{{ filter_fight.name }}</li>
            {% endfor %}
        </ul>
        <div class="last-battle-items">
            {% for fight in last_fights %}
                {% include 'fights/_last_battle_item_container.html' with fight=fight %}
            {% endfor %}
        </div>
    </div>
    <div class="clear"></div>
    <div class="hidden-xs">
        <h2>ПОСЛЕДНИЕ ВИДЕО</h2>
        <ul data-type="ajax" data-action="/ajax/get_last_videos/" data-block=".last-videos-items" class="filter-tabs">
                <li class="active" data-param="all">Все</li>
            {% for filter_fight in fight_list %}
                <li data-param="{{ filter_fight.alias }}">{{ filter_fight.name }}</li>
            {% endfor %}
        </ul>
        <div class="last-videos-items">
            {% for video in last_videos %}
                {% include '_video_template_frame.html' with link=video.link %}
            {% endfor %}
        </div>
    </div>
    <h2>НОВОСТИ</h2>
    <ul data-type="ajax" data-action="/ajax/get_last_news/" data-block=".news-list" data-pager=".news_paginator_on_main" class="filter-tabs">
        <li class="active" data-param="all">Все</li>
        {% for filter_fight in fight_list %}
            <li data-param="{{ filter_fight.alias }}">{{ filter_fight.name }}</li>
        {% endfor %}
    </ul>
    <div class="news-list">
        {% for news in last_news %}
            {% include '_news_item.html' with news=news %}
        {% endfor %}
    </div>
    <div class="paginator-container news_paginator_on_main">
        {% include '_paginator.html' with count_pages=count_news_pages %}
    </div>
{% endblock %}