{% extends 'main.html' %}

{% block meta_title %}
    {{ fighter.name }}
{% endblock %}

{% block social_meta %}
    <meta property="og:title" content="{{ fighter.name }}"/>
    <meta property="og:description" content="Все новости в мире ММА, бокса и кикбоксинга"/>
    <meta name="twitter:title" content="{{ fighter.name }}">
    <meta name="twitter:description" content="Все новости в мире ММА, бокса и кикбоксинга"/>
{% endblock %}

{% block content %}
    <h1>{{ fighter.name }}</h1>
    <div class="figter-detail-info fight-detail-info-person-page">
        <img class="col-lg-3 col-md-5 col-sm-5 col-xs-12" src="{{ MEDIA_URL }}{{ fighter.image_195_300|default:"../static/img/default_images/fighter_default.png" }}" alt="{{ fighter.name }}">
        {% include 'fighter_details/fighter_detail_table.html' with fighter=fighter %}
    </div>
    <div class="clear"></div>
    {% include 'fighter_details/profile_fight_statistic.html' with statistic_data=statistic_data fights=profi_fights fighter=fighter %}
    <div class="history-professional-fights-mobile hidden-lg hidden-md">
        <h3 class="sm-bold-18">ПОСЛЕДНИЕ 6 БОЕВ</h3>
        <p class="proxima-nova-rg ft-16">Соперники</p>
        <div class="last-fights-mobile-list">
            {% for profi_fight in profi_fights %}
                {% include 'fighter_details/history_profi_fighters_mobile_row.html' with fight=profi_fight fighter=fighter %}
            {% endfor %}
        </div>
    </div>
    <div class="videos-highlights">
        <h3>ВИДЕО (ХАЙЛАЙТЫ)</h3>
        {% for fight in fighter.fighter_1.all %}
            {% if fight.main_video %}
                {% include 'video_block.html' with id=fight.id|slugify|add:'_f' link=fight.main_video name=fight.fighter_1.name|add:' - '|add:fight.fighter_2.name  %}
            {% endif %}
        {% endfor %}
        {% for fight in fighter.fighter_2.all %}
            {% if fight.main_video %}
                {% include 'video_block.html' with id=fight.id|slugify|add:'_f' link=fight.main_video name=fight.fighter_1.name|add:' - '|add:fight.fighter_2.name  %}
            {% endif %}
        {% endfor %}
        {% for video in videos %}
            {% include 'video_block.html' with id=video.id|slugify|add:'_v' link=video.link name=video.name %}
        {% endfor %}
        {% include 'add_video_btn.html' with object_type="fighter" object_id=fighter.id %}
    </div>
    <div class="comments">
        <h3>КОММЕНТАРИИ</h3>
        <form action="#" class="form-horizontal">
            <div class="col-lg-1 comment-form-avatar"><img src="img/comment-avatar.png" alt=""></div>
            <div class="col-lg-11 comment-form-input-block">
                <input type="text" class="form-control" placeholder="Оставить свой комментарий...">
                <span class="glyphicon glyphicon-paperclip form-control-feedback form-control-attach"></span>
            </div>
        </form>
        <div class="clear"></div>
        <div class="proxima-nova-rg ft-14 comment-enter-social-block">
            <div>ВОЙДИТЕ ЧЕРЕЗ СОЦИАЛЬНУЮ СЕТЬ</div>
            <div>
                <a href="#"><img src="img/comment-ok.png"></a>
                <a href="#"><img src="img/comment-vk.png"></a>
                <a href="#"><img src="img/comment-fb.png"></a>
                <a href="#"><img src="img/comment-twitter.png"></a>
                <a href="#"><img src="img/comment-google.png"></a>
                <a href="#"><img src="img/comment-other.png"></a>
            </div>
        </div>
        <div class="comments-block">
            <div class="media">
                <a class="pull-left" href="#">
                    <img class="media-object" src="img/comment-avatar.png" alt="...">
                </a>
                <div class="media-body proxima-nova-rg ft-black ft-14">
                    <h4 class="media-heading proxima-nova-bl">Антон подсыпанин <span class="proxima-nova-lt ft-12">9 дней назад 21:25</span></h4>
                    Отличный боец. Если не брать наших - болею за него, всегда.
                    <a href="#">Ответить</a>
                </div>
            </div>
            <div class="media">
                <a class="pull-left" href="#">
                    <img class="media-object" src="img/comment-avatar.png" alt="...">
                </a>
                <div class="media-body proxima-nova-rg ft-black ft-14">
                    <h4 class="media-heading proxima-nova-bl">Антон подсыпанин <span class="proxima-nova-lt ft-12">9 дней назад 21:25</span></h4>
                    Отличный боец. Если не брать наших - болею за него, всегда.
                    <a href="#">Ответить</a>
                </div>
            </div>
            <div class="media">
                <a class="pull-left" href="#">
                    <img class="media-object" src="img/comment-avatar.png" alt="...">
                </a>
                <div class="media-body proxima-nova-rg ft-black ft-14">
                    <h4 class="media-heading proxima-nova-bl">Антон подсыпанин <span class="proxima-nova-lt ft-12">9 дней назад 21:25</span></h4>
                    Отличный боец. Если не брать наших - болею за него, всегда.
                    Lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum
                    <a href="#">Ответить</a>
                </div>
            </div>
            <div class="media">
                <a class="pull-left" href="#">
                    <img class="media-object" src="img/comment-avatar.png" alt="...">
                </a>
                <div class="media-body proxima-nova-rg ft-black ft-14">
                    <h4 class="media-heading proxima-nova-bl">Антон подсыпанин <span class="proxima-nova-lt ft-12">9 дней назад 21:25</span></h4>
                    Отличный боец. Если не брать наших - болею за него, всегда.
                    <a href="#">Ответить</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}