{% load to_br %}

<table class="col-lg-9 col-md-7 col-sm-7 col-xs-12">
    <tr>
        <th>Полное имя:</th>
        <td>{{ fighter.name }}</td>
    </tr>
    <tr>
        <th>Прозвище:</th>
        <td>{{ fighter.nickname|default:"" }}</td>
    </tr>
    <tr>
        <th>Дата рождения:</th>
        <td>{{ fighter.birthday|default:"" }}</td>
    </tr>
    <tr>
        <th>Место рождения:</th>
        <td>
            {% if fighter.country_of_birth is not None %}
                <img class="country-flag" src="{{ MEDIA_URL }}{{ fighter.country_of_birth.flag  }}" />
                {{ fighter.country_of_birth.name }}
                {% if fighter.place_of_birth is not None %}
                    ,
                {% endif %}
            {% endif %}
            {{ fighter.place_of_birth|default:'' }}
        </td>
    </tr>
    <tr>
        <th>Проживание:</th>
        <td>
            {% if fighter.country_of_residence is not None %}
                <img class="country-flag" src="{{ MEDIA_URL }}{{ fighter.country_of_residence.flag  }}" />
                {{ fighter.country_of_residence.name }}
                {% if fighter.place_of_residence is not None %}
                    ,
                {% endif %}
            {% endif %}
            {{ fighter.place_of_residence|default:'' }}
        </td>
    </tr>
    {% for weight_category_info in fighter.get_weight_categories %}
        <tr>
            <th>Весовая категория({{ weight_category_info.kind_of_fight__name }}):</th>
            <td>{{ weight_category_info.weight_category__name }}</td>
        </tr>
    {% endfor %}
    <tr>
        <th>Стойка:</th>
        <td>{{ fighter.stand.name }}</td>
    </tr>
    <tr>
        <th>Рост:</th>
        <td>
            {% if fighter.growth is not None %}
                {{ fighter.growth }} см
            {% endif %}
        </td>
    </tr>
    <tr>
        <th>Размах рук:</th>
        <td>
            {% if fighter.arm_span %}
                {{ fighter.arm_span }} см
            {% endif %}
        </td>
    </tr>
    {% for rate in fighter.get_star_rate_for_all_sports %}
        <tr>
            <th>Рейтинг - {{ rate.sport }}:</th>
            <td><a href="#">{{ rate.rate.star_score }}</a></td>
        </tr>
    {% endfor %}
    <!-- <tr>
        <th>Рейтинг в боксе:</th>
        <td><a href="#">2 из 1 979</a></td>
    </tr> -->
    <tr>
        <th>Титулы:</th>
        <td>
            {% for title in fighter.get_titles %}
                <a href="#">{{ title.name }}</a><br />
            {% endfor %}
        </td>
    </tr>
</table>