{% load staticfiles %}
{% load to_br %}
{% load last_six_fights_results %}
<div class="last-fights-mobile-item-block">
    <a href="#" class="last-fights-mobile-item">
        <div class="status-opened-icon">
            <i class="fas fa-angle-right"></i>
        </div>
        <div class="last-fight-date">
            <div class="proxima-nova-se ft-20 text-center last-fight-day">
                {{ fight.event.event_date|date:"d" }}
                <span class="proxima-nova-rg ft-12">{{ fight.event.event_date|date:"M" }}</span>
            </div>
            <div class="proxima-nova-lt ft-10 text-center last-fight-year">{{ fight.event.event_date|date:"Y" }}</div>
        </div>

        {% if fight.winner == fighter %}
            <div class="last-fight-status cl-green proxima-nova-bl ft-18">В</div>
        {% elif fight.tie == True %}
            <div class="last-fight-status cl-grey proxima-nova-bl ft-18">НЧ</div>
        {% elif fight.winner != None and fight.winner != fighter %}
            <div class="last-fight-status cl-red proxima-nova-bl ft-18">П</div>
        {% else %}
            <div class="last-fight-status cl-yellow proxima-nova-bl ft-18">БР</div>
        {% endif %}
        {% if fighter == fight.fighter_1 %}
            <div class="last-fight-avatar">
                <img src="{{ MEDIA_URL }}{{ fight.fighter_2.image_55_55|default:"../static/img/default_images/fighter_default_head_medium.png" }}" alt="">
            </div>
            <div class="proxima-nova-rg ft-14 last-fight-name">
                {{ fight.fighter_2.name|space_to_br|safe }}
            </div>
        {% else %}
            <div class="last-fight-avatar">
                <img src="{{ MEDIA_URL }}{{ fight.fighter_2.image_55_55|default:"../static/img/default_images/fighter_default_head_medium.png" }}" alt="">
            </div>
            <div class="proxima-nova-rg ft-14 last-fight-name">
                {{ fight.fighter_1.name|space_to_br|safe }}
            </div>
        {% endif %}

        <div class="last-fight-play-btn">
            <img src="{% static "img/play-fight-yellow-color.png" %}" alt="" onclick="window.location.href='{{ fight.main_video }}'">
        </div>
        <div class="clear"></div>
    </a>
    <ul class="last-fights-mobile-item-full-info">
        <li>
            <span class="last-fights-mobile-item-full-info-param-name">Рекорд:</span>
            {% if fighter == fight.fighter_1 %}
                {{ fight.fighter_2_statistic.wins }}-{{ fight.fighter_2_statistic.loose }}-{{ fight.fighter_2_statistic.tie }}
            {% else %}
                {{ fight.fighter_1_statistic.wins }}-{{ fight.fighter_1_statistic.loose }}-{{ fight.fighter_1_statistic.tie }}
            {% endif %}
            <div class="proxima-nova-rg ft-10 ft-white text-legend">
                {% if fighter == fight.fighter_1 %}
                    {% last_six_fights_results fight.fighter_2 fight %}
                {% else %}
                    {% last_six_fights_results fight.fighter_1 fight %}
                {% endif %}
            </div>
        </li>
        <li><span class="last-fights-mobile-item-full-info-param-name">Турнир:</span>{{ fight.event.name }}</li>
        <li>
            {% if fight.event.country is not None %}
                <span class="last-fights-mobile-item-full-info-param-name">Место:</span>
                <img src="{{ MEDIA_URL }}{{ fight.event.country.flag }}" alt="">&nbsp;{{ fight.event.country.name }},
            {% endif %}
            {{ fight.event.place|default:'' }}
        </li>
        <li>
            <span class="last-fights-mobile-item-full-info-param-name">Раунд и время:</span>
            {{ fight.finish_round|default:'Не указано' }} | {{ fight.finish_time|default:'Не указано' }}
        </li>
        <li>
            <span class="last-fights-mobile-item-full-info-param-name">Рейтинги:</span>
            <img src="{% static "img/starpng.png" %}" alt="">&nbsp;{{ fight.get_star_rate }}&nbsp;&nbsp;|&nbsp;&nbsp;
            <img src="{% static "img/stathuman.png" %}" alt="">&nbsp;{{ fight.get_human_rate.point }}&nbsp;/&nbsp;<span class="proxima-nova-lt ft-10 cl-grey">{{ fight.get_human_rate.count }}</span>
        </li>
    </ul>
</div>