{% load staticfiles %}
{% load to_br %}
{% load last_six_fights_results %}
<tr>
    {% if fight.winner == fighter %}
        <td class="proxima-nova-bl ft-14 ft-white bg-green rt">В</td>
    {% elif fight.tie == True %}
        <td class="proxima-nova-bl ft-14 ft-white bg-grey rt">НЧ</td>
    {% elif fight.winner != None and fight.winner != fighter %}
        <td class="proxima-nova-bl ft-14 ft-white bg-red rt">П</td>
    {% else %}
        <td class="proxima-nova-bl ft-14 ft-white bg-black rt">БР</td>
    {% endif %}

    <td class="opponent" data-onclick-url="/fighter/{% if fighter == fight.fighter_1 %}{{ fight.fighter_2.alias }}{% else %}{{ fight.fighter_1.alias }}{% endif %}/">
        <div class="opponent-img-name">
            {% if fighter == fight.fighter_1 %}
                <img src="{{ MEDIA_URL }}{{ fight.fighter_2.image_36_36|default:"../static/img/default_images/fighter_default_head_small.png" }}" alt="">
                <span class="proxima-nova-rg ft-12 fighter-name">{{ fight.fighter_2.name|space_to_br|safe }}</span>
            {% else %}
                <img src="{{ MEDIA_URL }}{{ fight.fighter_1.image_36_36|default:"../static/img/default_images/fighter_default_head_small.png" }}" alt="">
                <span class="proxima-nova-rg ft-12 fighter-name">{{ fight.fighter_1.name|space_to_br|safe }}</span>
            {% endif %}
        </div>
        <div class="clear"></div>
        <div class="proxima-nova-lt ft-10 fighter-score">
            {% if fighter == fight.fighter_1 %}
                {{ fight.fighter_2_statistic.wins }}-{{ fight.fighter_2_statistic.loose }}-{{ fight.fighter_2_statistic.tie }}
            {% else %}
                {{ fight.fighter_1_statistic.wins }}-{{ fight.fighter_1_statistic.loose }}-{{ fight.fighter_1_statistic.tie }}
            {% endif %}
        </div>
        <div class="proxima-nova-rg ft-6 ft-white text-legend">
            {% if fighter == fight.fighter_1 %}
                {% last_six_fights_results fight.fighter_2 fight %}
            {% else %}
                {% last_six_fights_results fight.fighter_1 fight %}
            {% endif %}
        </div>
    </td>
    <td class="proxima-nova-lt ft-12 posible">
        {% if fight.finish is not None %}
            {{ fight.finish.name }} {% if fight.kind_of_finish is not None %} ({{ fight.kind_of_finish.name }}) {% endif %}
        {% endif %}
    </td>
    <td class="proxima-nova-se ft-12 tournament" data-onclick-url="/event/{{ fight.event.alias }}/">
        {{ fight.event }}
        <div class="proxima-nova-lt ft-12">{{ fight.event.event_date }}</div>
    </td>
    <td class="proxima-nova-se ft-12" align="center">
        {{ fight.finish_round|default:'' }}
        <div class="proxima-nova-lt ft-12">{{ fight.finish_time|default:'' }}</div>
    </td>
    <td class="proxima-nova-lt ft-12 location hidden-md">
        {% if fight.event.country is not None %}
            <img src="{{ MEDIA_URL }}{{ fight.event.country.flag }}" alt=""><br/>
            {{ fight.event.country.name }},
        {% endif %}
        {{ fight.event.place|default:'' }}
    </td>
    <td class="proxima-nova-lt addition hidden-md">
        {{ fight.comment|default:'' }}
        {% for title in fight.get_titles_for_fight %}
            {{ title.1.name }}<br />
        {% endfor %}
    </td>
    <td class="proxima-nova-lt ft-12 category" nowrap>
        {{ fight.weight_category.name }}
    </td>
    <td class="proxima-nova-lt ft-10 ft-black rate" nowrap>
        <div><img src="{% static "img/starpng.png" %}" alt=""> {{ fight.get_star_rate }}</div>
        <div><img src="{% static "img/stathuman.png" %}" alt=""> {{ fight.get_human_rate.point }}</div>
    </td>
    <td class="play-btn">
        {% if fight.main_video is not None %}
            <a target="_blank" href="/fight/{{ fight.alias }}/#main-fight-video"><img src="{% static "img/play-fight-yellow-color.png" %}" alt=""></a>
        {% else %}
            <a target="_blank" href="/fight/{{ fight.alias }}/"><img src="{% static "img/play-fight-yellow.png" %}" alt=""></a>
        {% endif %}
    </td>
</tr>