{% load get_percents_for_statistic %}
{% for sport,data in statistic_data.items %}
    <div class="profile-fight-statistic">
        <h3>Статистика боев: {{ sport }}</h3>
        <div class="col-lg-9 col-md-10 col-sm-12 col-xs-12 profile-fight-statistic-blocks">
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-4 wins-block">
                <div class="summary-info">
                    <span>ПОБЕДЫ</span>
                    <span>{{ data.wins.count }}</span>
                </div>
                <table class="wins-summary-tbl">
                    {% for finish,count in data.wins.details.items %}
                        {% if count != 0 %}
                            <tr>
                                <th>{{ finish }}</th>
                                <td>{{ count }}</td>
                                <th>{{ data.wins.count|percents:count }}%</th>
                            </tr>
                        {% endif %}
                    {% endfor %}
                </table>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-4 lose-block">
                <div class="summary-info">
                    <span>ПОРАЖЕНИЯ</span>
                    <span>{{ data.loose.count }}</span>
                </div>
                <table class="lose-summary-tbl">
                    {% for loose,count in data.loose.details.items %}
                        {% if count != 0 %}
                            <tr>
                                <th>{{ loose }}</th>
                                <td>{{ count }}</td>
                                <th>{{ data.loose.count|percents:count }}%</th>
                            </tr>
                        {% endif %}
                    {% endfor %}
                </table>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-4 noany-block">
                <div class="summary-info">
                    <span>НИЧЬИ</span>
                    <span>{{ data.tie }}</span>
                </div>
                <div class="summary-info">
                    <span>БЕЗ РЕЗУЛЬТАТА</span>
                    <span>{{ data.no_info }}</span>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div class="clear"></div>

    <div class="history-professional-fights hidden-sm hidden-xs">
        <h2 class="sm-bold-18">ИСТОРИЯ ПРОФЕССИОНАЛЬНЫХ БОЕВ</h2>
        <table class="history-professional-fights-table">
            <tr>
                <th>Р-т</th>
                <th>Соперник</th>
                <th>Способ</th>
                <th>Турнир и дата</th>
                <th>Раунд и время</th>
                <th class="hidden-md">Место проведения</th>
                <th class="hidden-md">Дополнительно</th>
                <th>Категория</th>
                <th>Р-г</th>
                <th>Бой</th>
            </tr>
            {% for fight in fights %}
                {% if fight.kind_of_fight.name == sport %}
                    {% include 'fighter_details/history_profi_fighters_row.html' with fight=fight fighter=fighter %}
                {% endif %}
            {% endfor %}
        </table>
    </div>
{% endfor %}