{% load times %}
<a href="/news/{{ news.alias }}/">
    <div class="news-item">
        <img src="{{ MEDIA_URL }}{{ news.news_cover }}" alt="" class="news-cover hidden-sm hidden-xs">
        <div class="news-intro">
            <div class="news-top-line">
                <div class="news-label" style="background: {{ news.kind_of_sport.color }}">{{ news.kind_of_sport.name }}</div>
                <div class="news-rate">
                    Важность&nbsp;&nbsp;
                    {% for i in news.important|times %}
                        <div class="news-rate-item"></div>
                    {% endfor %}
                </div>
            </div>
            <div class="clear"></div>
            <div class="news-header">{{ news.name }}</div>
            <div class="news-intro-text">{{ news.intro }}</div>
            <div class="news-info hidden-md hidden-sm hidden-xs">{{ news.published_date }}<span class="devider">|</span>
                {{ news.count_views }} просмотров<span class="devider">|</span>410 комментариев
            </div>
        </div>
        <div class="clear"></div>
        <div class="news-info-portable-device hidden-lg">{{ news.published_date }}<span class="devider">|</span>
            {{ news.count_views }} просмотров<span class="devider">|</span>410 комментариев
        </div>
    </div>
</a>