{% load times %}
{% if count_pages > 1 %}
        <ul class="paginator" data-count-pages="{{ count_pages }}">
            <li style="display: none" class="prev-link"><a href="#" data-page=""><i class="fas fa-arrow-left"></i></a></li>
            {% for i in count_pages|times %}
                {% if i == 1 %}
                    <li class="page-link pactive">{{ i }}</li>
                {% else %}
                    <li class="page-link"><a href="#" data-page="{{ i }}">{{ i }}</a></li>
                {% endif %}
            {% endfor %}
            <li class="next-link"><a href="#" data-page="2"><i class="fas fa-arrow-right"></i></a></li>
        </ul>
{% endif %}