<div class="rate-categories col-lg-12">
    <div class="right-column-block-header rate-categories-header">ТЕГИ</div>
    <div class="right-column-block-content about-tournament-content-container tags-container">
        {% for tag in tag_list %}
             <a href="/news/tag/{{ tag.tag }}/" class="proxima-nova-se" style="font-size: {{ tag.font }}px; opacity: {{ tag.opacity }}; margin-right: 15px">{{ tag.tag }}</a>
        {% endfor %}
    </div>
</div>