{% extends 'main.html' %}

{% load times %}

{% block meta_title %}
    {{ title }}
{% endblock %}

{% block social_meta %}
    <meta property="og:title" content="{{ title }}"/>
    <meta property="og:description" content="Все новости в мире ММА, бокса и кикбоксинга"/>
    <meta name="twitter:title" content="{{ title }}">
    <meta name="twitter:description" content="Все новости в мире ММА, бокса и кикбоксинга"/>
{% endblock %}

{% block right_info_block %}
    {% include '_right_info_block.html' with tag_list=tag_list %}
{% endblock %}

{% block content %}
    <h1>{{ title }}</h1>
    <ul class="filter-tabs">
        {% if alias == None %}
            <li class="active">Все</li>
        {% else %}
            <li><a href="/news/">Все</a></li>
        {% endif %}
        {% for filter_fight in fight_list %}
            {% if filter_fight.alias != alias %}
                <li><a href="/news/category/{{ filter_fight.alias }}/">{{ filter_fight.name }}</a></li>
            {% else %}
                <li class="active">{{ filter_fight.name }}</li>
            {% endif %}
        {% endfor %}
    </ul>
    <form action="" class="form-horizontal find-fight-page-form event-calendar-form">
        <div class="form-group ml-0">
            <div class="form-group col-lg-4 col-md-4 col-sm-6 col-xs-12 mr-0">
                <label>Важность новостей</label>
                {{ news_filter_form.important }}
                <div class='ruler'>
                    <div class='cm'>
                        <div class='mm'></div>
                        <div class='mm'></div>
                        <div class='mm'></div>
                        <div class='mm'></div>
                        <div class='mm'></div>
                        <div class='mm'></div>
                        <div class='mm'></div>
                        <div class='mm'></div>
                        <div class='mm'></div>
                    </div>
                    <div class='cm'>
                        <div class='mm'></div>
                        <div class='mm'></div>
                        <div class='mm'></div>
                        <div class='mm'></div>
                        <div class='mm'></div>
                        <div class='mm'></div>
                        <div class='mm'></div>
                        <div class='mm'></div>
                        <div class='mm'></div>
                    </div>
                    <div class='cm'>
                        <div class='mm'></div>
                        <div class='mm'></div>
                        <div class='mm'></div>
                        <div class='mm'></div>
                        <div class='mm'></div>
                        <div class='mm'></div>
                        <div class='mm'></div>
                        <div class='mm'></div>
                        <div class='mm'></div>
                    </div>
                    <div class='cm'>
                        <div class='mm'></div>
                        <div class='mm'></div>
                        <div class='mm'></div>
                        <div class='mm'></div>
                        <div class='mm'></div>
                        <div class='mm'></div>
                        <div class='mm'></div>
                        <div class='mm'></div>
                        <div class='mm'></div>
                    </div>
                    <div class='cm'>
                        <div class='mm'></div>
                        <div class='mm'></div>
                        <div class='mm'></div>
                        <div class='mm'></div>
                        <div class='mm'></div>
                        <div class='mm'></div>
                        <div class='mm'></div>
                        <div class='mm'></div>
                        <div class='mm'></div>
                    </div>
                    <div class='cm'></div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 button-container  mt-15">
                <button type="submit" class="btn">Подобрать</button>
            </div>
        </div>
        <div class="clear"></div>
    </form>
    <div class="news-list">
        {% for news in news_list %}
            {% include '_news_item.html' with news=news %}
        {% endfor %}
    </div>
    {% if count_pages > 1 %}
        {% include 'pager.html' with page=current_page count_pages=count_pages prev_page=prev_page next_page=next_page range_of_pages=range_of_pages %}
    {% endif %}
    <script type="text/javascript">
        $(document).ready(function(){
            $("#news-rate").slider({id: 'news-rate-slider', min: 0, max: 5, range: true, value: [{{ start_important_filter }}, {{ end_important_filter }}], step: 1});
        })
    </script>
{% endblock %}