{% extends 'main.html' %}

{% load times %}
{% load staticfiles %}

{% block meta_title %}
    {{ news.name }}
{% endblock %}

{% block social_meta %}
    <meta property="og:title" content="{{ news.name  }}"/>
    <meta property="og:description" content="Все новости в мире ММА, бокса и кикбоксинга"/>
    <meta name="twitter:title" content="{{ news.name  }}">
    <meta name="twitter:description" content="Все новости в мире ММА, бокса и кикбоксинга"/>
{% endblock %}

{% block right_info_block %}
    {% include '_right_info_block.html' with tag_list=tag_list %}
{% endblock %}

{% block content %}
    <div class="news-page-top-panel">
        <div class="proxima-nova-rg ft-14 cl-black news-page-top-panel-author">
            <span class="cl-grey">{{ news.published_date }} | </span>Автор {{ news.author.first_name }}
        </div>
        <div class="news-rate">
            Важность&nbsp;&nbsp;
            {% for i in news.important|times %}
                <div class="news-rate-item"></div>
            {% endfor %}
        </div>
    </div>
    <div class="clear"></div>
    <h1 class="news-page-header">{{ news.name }}</h1>
    {{ news.body|safe }}
    <!--
    <img src="img/news_image.png" alt="" class="img-responsive">
    <div class="news-quote">
        «Мое мнение: считаю, что денег мало они дают Хабибу, потому что до этого они давали Конору
        в три раза больше. А теперь мы хотим, чтобы нам давали в пять раз больше, чем Конору.
        Мы в доминирующем плане уничтожили, задушили, заставили его сдаться. Это первое»,
        - цитирует Абдулманапа Нурмагомедова РИА Новости.

        «Второе: какой смысл Конору, не проведя два или три боя, выходить на бой с Хабибом?
        Если Конор считает нужным, пусть покажет, что он готов, хотя бы против таких бойцов,
        как Ислам Махачев, Тони Фергюсон»
    </div>
    <div class="news-text">
        Также Нурмагомедов-старший выразил уверенность, что поединок по правилам бокса между его сыном
        и Флойдом Мэйвезером действительно может состояться.
    </div>
    <div class="news-quote">
        «Разнесем! Никаких сомнений – разнесем! Локтями, коленями, чем угодно! Конечно, если поединок пройдет по правилам бокса – надо сказать, что Хабибу будет противостоять великий мастер. Но в нашем углу будет очень серьезный тренерский состав. Возьмем полгода на подготовку и подойдем к бою во всеоружии»

        «Искренне верю, что поединок Хабиба с Флойдом может состояться. Встретятся два спортсмена, которые в своей карьере еще ни разу не проигрывали. Пора выяснить, кто сильнее»
    </div>
    <div class="news-text">
        Напомним, что 6 октября на UFC 229 в Лас-Вегасе Хабиб Нурмагомедов провел успешную защиту чемпионского пояса, финишировав Конора МакГрегора сабмишном в четвертом раунде.
    </div>
    -->
    <div class="tags">
        <span>Тэги: </span>
        {% for tag in news_tags %}
            <a href="/news/tag/{{ tag }}/">{{ tag }}</a>{% if forloop.counter != news.get_news_tags|length %},{% endif %}
        {% endfor %}
    </div>
    <!--<div class="news-share-block">
        <div>Поделиться</div>
        <div>
            <a href="#"><img src="{% static "img/comment-ok.png" %}"></a>
            <a href="#"><img src="{% static "img/comment-vk.png" %}"></a>
            <a href="#"><img src="{% static "img/comment-fb.png" %}"></a>
            <a href="#"><img src="{% static "img/comment-twitter.png" %}"></a>
            <a href="#"><img src="{% static "img/comment-google.png" %}"></a>
            <a href="#"><img src="{% static "img/comment-other.png" %}"></a>
        </div>
    </div> -->
    <div class="comments" id="rcb-comments">
        <!--<h3>КОММЕНТАРИИ</h3>
        <form action="#" class="form-horizontal">
            <div class="col-lg-1 comment-form-avatar"><img src="img/comment-avatar.png" alt=""></div>
            <div class="col-lg-11 comment-form-input-block">
                <input type="text" class="form-control" placeholder="Оставить свой комментарий...">
                <span class="glyphicon glyphicon-paperclip form-control-feedback form-control-attach"></span>
            </div>
        </form>
        <div class="clear"></div>
        <div class="proxima-nova-rg ft-14 comment-enter-social-block">
            <div>ВОЙДИТЕ ЧЕРЕЗ СОЦИАЛЬНУЮ СЕТЬ</div>
            <div>
                <a href="#"><img src="{% static "img/comment-ok.png" %}"></a>
                <a href="#"><img src="{% static "img/comment-vk.png" %}"></a>
                <a href="#"><img src="{% static "img/comment-fb.png" %}"></a>
                <a href="#"><img src="{% static "img/comment-twitter.png" %}"></a>
                <a href="#"><img src="{% static "img/comment-google.png" %}"></a>
                <a href="#"><img src="{% static "img/comment-other.png" %}"></a>
            </div>
        </div>
        <div class="comments-block">
            <div class="media">
                <a class="pull-left" href="#">
                    <img class="media-object" src="img/comment-avatar.png" alt="...">
                </a>
                <div class="media-body proxima-nova-rg ft-black ft-14">
                    <h4 class="media-heading proxima-nova-bl">Антон подсыпанин <span class="proxima-nova-lt ft-12">9 дней назад 21:25</span></h4>
                    Отличный боец. Если не брать наших - болею за него, всегда.
                    <a href="#">Ответить</a>
                </div>
            </div>
            <div class="media">
                <a class="pull-left" href="#">
                    <img class="media-object" src="img/comment-avatar.png" alt="...">
                </a>
                <div class="media-body proxima-nova-rg ft-black ft-14">
                    <h4 class="media-heading proxima-nova-bl">Антон подсыпанин <span class="proxima-nova-lt ft-12">9 дней назад 21:25</span></h4>
                    Отличный боец. Если не брать наших - болею за него, всегда.
                    <a href="#">Ответить</a>
                </div>
            </div>
            <div class="media">
                <a class="pull-left" href="#">
                    <img class="media-object" src="img/comment-avatar.png" alt="...">
                </a>
                <div class="media-body proxima-nova-rg ft-black ft-14">
                    <h4 class="media-heading proxima-nova-bl">Антон подсыпанин <span class="proxima-nova-lt ft-12">9 дней назад 21:25</span></h4>
                    Отличный боец. Если не брать наших - болею за него, всегда.
                    Lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum
                    <a href="#">Ответить</a>
                </div>
            </div>
            <div class="media">
                <a class="pull-left" href="#">
                    <img class="media-object" src="img/comment-avatar.png" alt="...">
                </a>
                <div class="media-body proxima-nova-rg ft-black ft-14">
                    <h4 class="media-heading proxima-nova-bl">Антон подсыпанин <span class="proxima-nova-lt ft-12">9 дней назад 21:25</span></h4>
                    Отличный боец. Если не брать наших - болею за него, всегда.
                    <a href="#">Ответить</a>
                </div>
            </div>
        </div> -->
    </div>
    <script type="text/javascript">
        RCB = window.RCB || [];
        RCB.push({widget: "Comments", id: {{ COMMENT_WIDGET_ID }},});
        (function () {
            var RCBS = document.createElement("script");
            RCBS.type = "text/javascript";
            RCBS.async = true;
            RCBS.src = "https://recobox.ru/widget/widget.js";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(RCBS, s.nextSibling);
        })();
    </script>
{% endblock %}