<form action="" class="form-horizontal find-fight-page-form event-calendar-form">
    <div class="form-group ml-0">
        <div class="form-group col-lg-4 col-md-4 col-sm-6 col-sm-6 col-xs-12 mr-0">
            <label>Выберите даты</label>
            <div class="input-group">
                {{ fight_filter_form.event_date_from }}
                <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
            </div>
            <div class="input-group">
                {{ fight_filter_form.event_date_to }}
                <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
            </div>
        </div>
        <div class="form-group col-lg-4 col-md-4 col-sm-6 col-sm-6 col-xs-6 mr-0">
            <label>Показывать события</label>
            {% for choice in fight_filter_form.event_date %}
                <div class="radio">
                    <label>
                        {{ choice.tag }}
                        {{ choice.choice_label }}
                    </label>
                </div>
            {% endfor %}
        </div>
        <div class="form-group col-lg-4 col-md-4 col-sm-6 col-sm-6 col-xs-12 mr-0">
            <label>Сортировать</label>
            {% for choice in fight_filter_form.sort %}
                <div class="radio">
                    <label>
                        {{ choice.tag }}
                        {{ choice.choice_label }}
                    </label>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="form-group ml-0">
        <div class="form-group col-lg-4 col-md-4 col-sm-6 col-xs-12 mr-0">
            <label>Рейтинг события</label>
            <input type="text" id="event-form-rate">
            <div class='ruler'>
                <div class='cm'>
                    <div class='mm'></div>
                    <div class='mm'></div>
                    <div class='mm'></div>
                    <div class='mm'></div>
                    <div class='mm'></div>
                    <div class='mm'></div>
                    <div class='mm'></div>
                    <div class='mm'></div>
                    <div class='mm'></div>
                </div>
                <div class='cm'>
                    <div class='mm'></div>
                    <div class='mm'></div>
                    <div class='mm'></div>
                    <div class='mm'></div>
                    <div class='mm'></div>
                    <div class='mm'></div>
                    <div class='mm'></div>
                    <div class='mm'></div>
                    <div class='mm'></div>
                </div>
                <div class='cm'>
                    <div class='mm'></div>
                    <div class='mm'></div>
                    <div class='mm'></div>
                    <div class='mm'></div>
                    <div class='mm'></div>
                    <div class='mm'></div>
                    <div class='mm'></div>
                    <div class='mm'></div>
                    <div class='mm'></div>
                </div>
                <div class='cm'>
                    <div class='mm'></div>
                    <div class='mm'></div>
                    <div class='mm'></div>
                    <div class='mm'></div>
                    <div class='mm'></div>
                    <div class='mm'></div>
                    <div class='mm'></div>
                    <div class='mm'></div>
                    <div class='mm'></div>
                </div>
                <div class='cm'>
                    <div class='mm'></div>
                    <div class='mm'></div>
                    <div class='mm'></div>
                    <div class='mm'></div>
                    <div class='mm'></div>
                    <div class='mm'></div>
                    <div class='mm'></div>
                    <div class='mm'></div>
                    <div class='mm'></div>
                </div>
                <div class='cm'></div>
            </div>
        </div>
        <div class="form-group col-lg-4 col-md-4 col-sm-6 col-xs-12 mr-0 user-rating">
            <label>Пользовательский рейтинг</label>
            <input type="text" id="user-form-rate">
            <div class='ruler'>
                <div class='cm'>
                    <div class='mm'></div>
                    <div class='mm'></div>
                    <div class='mm'></div>
                    <div class='mm'></div>
                    <div class='mm'></div>
                    <div class='mm'></div>
                    <div class='mm'></div>
                    <div class='mm'></div>
                    <div class='mm'></div>
                </div>
                <div class='cm'>
                    <div class='mm'></div>
                    <div class='mm'></div>
                    <div class='mm'></div>
                    <div class='mm'></div>
                    <div class='mm'></div>
                    <div class='mm'></div>
                    <div class='mm'></div>
                    <div class='mm'></div>
                    <div class='mm'></div>
                </div>
                <div class='cm'>
                    <div class='mm'></div>
                    <div class='mm'></div>
                    <div class='mm'></div>
                    <div class='mm'></div>
                    <div class='mm'></div>
                    <div class='mm'></div>
                    <div class='mm'></div>
                    <div class='mm'></div>
                    <div class='mm'></div>
                </div>
                <div class='cm'>
                    <div class='mm'></div>
                    <div class='mm'></div>
                    <div class='mm'></div>
                    <div class='mm'></div>
                    <div class='mm'></div>
                    <div class='mm'></div>
                    <div class='mm'></div>
                    <div class='mm'></div>
                    <div class='mm'></div>
                </div>
                <div class='cm'>
                    <div class='mm'></div>
                    <div class='mm'></div>
                    <div class='mm'></div>
                    <div class='mm'></div>
                    <div class='mm'></div>
                    <div class='mm'></div>
                    <div class='mm'></div>
                    <div class='mm'></div>
                    <div class='mm'></div>
                </div>
                <div class='cm'></div>
            </div>
        </div>
        <div class="form-group col-lg-4 col-md-4 col-sm-6 col-xs-12 mr-0">
            <label>Выбрать промоутера</label>
            {{ fight_filter_form.promotion }}
        </div>
        <div class="form-group">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 button-container">
                <button type="submit" class="btn">Найти</button>
            </div>
        </div>
    </div>
    <div class="clear"></div>
</form>