{% extends 'main.html' %}

{% load staticfiles %}

{% block meta_title %}
    {{ title }}
{% endblock %}

{% block social_meta %}
    <meta property="og:title" content="{{ title }}"/>
    <meta property="og:description" content="Все новости в мире ММА, бокса и кикбоксинга"/>
    <meta name="twitter:title" content="{{ title }}">
    <meta name="twitter:description" content="Все новости в мире ММА, бокса и кикбоксинга"/>
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static "css/bootstrap-datetimepicker.min.css" %}">
{% endblock %}


{% block scripts %}
    <script type="text/javascript" src="{% static 'js/moment-with-locales.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap-datetimepicker.min.js' %}"></script>
    <script type="text/javascript" src="{% static "js/typeahead.js" %}"></script>
{% endblock %}

{% block content %}
    <h1>КАЛЕНДАРЬ СОБЫТИЙ</h1>
    <ul class="filter-tabs">
        {% if alias == None %}
            <li class="active">Все</li>
        {% else %}
            <li><a href="/calendar/">Все</a></li>
        {% endif %}
        {% for filter_fight in fights_list %}
            {% if filter_fight.alias != alias %}
                <li><a href="/calendar/{{ filter_fight.alias }}/">{{ filter_fight.name }}</a></li>
            {% else %}
                <li class="active">{{ filter_fight.name }}</li>
            {% endif %}
        {% endfor %}
    </ul>
    {% include 'calendar/_filter_form.html' with fight_filter_form=fight_filter_form %}
    <h2>ТУРНИРЫ</h2>
    <table class="proxima-nova-rg ft-16 cl-grey">
        <tr>
            <td>Рейтинг</td>
            <td align="center"><img src="{% static "img/starpng.png" %}"></td>
        </tr>
        <tr>
            <td>Пользовательский рейтинг</td>
            <td align="center"><img src="{% static "img/stathuman.png" %}"></td>
        </tr>
    </table>
    <div class="best-events-list best-events-list-page">
        {% for event in events %}
            {% include 'calendar/calendar_item.html' with event=event MEDIA_URL=MEDIA_URL %}
        {% endfor %}
    </div>
{% endblock %}