{% load staticfiles %}
{% load rp_best_events %}

{% if widget is None %}
    <div class="best-event-link-container col-lg-4 col-md-6 col-sm-12 ">
{% endif %}
    <a class="best-event-link" href="/event/{{ event.alias }}/">
        <img src="{{ MEDIA_URL }}{{ event.image|default:"../static/img/default_images/event_default_138x205.png" }}" alt="" class="best-event-image">
        <div class="best-event-content">
            {% for sport in event.get_sports_dict %}
                <div class="best-event-type" style="background: {{ sport.1 }}">
                        {{ sport.0 }}
                </div>
            {% endfor %}
            <div class="best-fights-list-header best-event-list-header">{{ event.name }}</div>
            <table class="best-event-properties">
                <tr>
                    <td class="best-event-list-prop-name">Дата:</td>
                    <td></td>
                </tr>
                <tr>
                    <td colspan="2">{{ event.event_date }}</td>
                </tr>
            </table>
            <table class="best-event-properties">
                <tr>
                    <td><img src="{% static "img/starpng.png" %}" alt=""></td>
                    <td>
                        {% if sport %}
                            {{ event|get_star_rate_for_event:sport }}
                        {% else %}
                            {{ event|get_star_rate_for_event }}
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td class="human-stat"><img src="{% static "img/stathuman.png" %}" alt=""></td>
                    {% if sport %}
                        <td>{{ event|get_human_rate_for_event:sport }}</td>
                    {% else %}
                        <td>{{ event|get_human_rate_for_event }}</td>
                    {% endif %}
                </tr>
            </table>

            {% if event.get_video_link is not None %}
                <div class="best-event-play-btn">
                    <img src="{% static "img/play-buttond.png" %}" alt="" height="20" onclick='window.open("{{ event.get_video_link }}", "_blank");return false;'>
                </div>
            {% endif %}
        </div>

        <div class="clear"></div>
    </a>
{% if widget is None %}
    </div>
{% endif %}